<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>30</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MajorMinor_Ver</name>
          <description>The majorMinor Version of the build</description>
          <defaultValue>17.99</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>emailGroups</name>
          <description>Recipients of the Scheduled build</description>
          <defaultValue>DL-OMD-SW-SQC@kla-tencor.com,DL-OMD-SW-SCOL@KLA-Tencor.com,DL-OMD-SW-Imaging@KLA-Tencor.com,DL-OMD-ENG-SCM@KLA-Tencor.com,DL-OMD-SW-ARCH@KLA-Tencor.com</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_VERSION</name>
          <description></description>
          <defaultValue>\\isr1appcc02\scm\OMD\Jenkins_Build_Version\17.99.99version.txt</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>ReleaseBuildEngine</name>
          <description>select the release build machine</description>
          <allowedSlaves>
            <string>SCM-Builds-V01</string>
            <string>SCM-Builds-V02</string>
            <string>SCM-Builds-V03</string>
            <string>SCM-Builds-V04</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>SCM-Builds-V01</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>DebugBuildEngine</name>
          <description>select the debug build machine</description>
          <allowedSlaves>
            <string>SCM-Builds-V01</string>
            <string>SCM-Builds-V02</string>
            <string>SCM-Builds-V03</string>
            <string>SCM-Builds-V04</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>SCM-Builds-V02</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>SkipSandboxLoad</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>buildResultUUID</name>
          <description>The UUID of the build result in RTC. It is supplied by builds initiated through RTC. For builds initiated through Hudson/Jenkins, no value should be supplied.</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>StaticCodeAnalysisModeDebug</name>
          <description>SCA mode for debug build</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>ErrorOnBuildEnd</string>
              <string>Disabled</string>
              <string>Warning</string>
              <string>Error</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>StaticCodeAnalysisModeRelease</name>
          <description>SCA mode for release build</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>ErrorOnBuildEnd</string>
              <string>Disabled</string>
              <string>Warning</string>
              <string>Error</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Auto_Deploy_Sanity</name>
          <description>will the auto deploy and sanity run for this build?</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>TestsArray</name>
          <description>What tests needs to run and in which confgurations?</description>
          <defaultValue>[[Autorun_XYS_Suite_ATE_A700,X:\ATE\TestCases\SQC\Imaging\XYS\Autorun,Archer700,SCM-ATE-01,SimulatorEngine,D:\BaseImage,17.11.00.21200_A700_Nunit_Image,\\isr1vmappcm01\Automated_Testing\17.10_ATE];
[AROL_Autorun_ATE_Suite,X:\ATE\TestCases\SQC\MBS\AROL,Archer TL,SCM-ATE-01,SimulatorEngine,D:\BaseImage,17.03.00.30400_TL_Mil_Nunit_Image,\\isr1vmappcm01\Automated_Testing\17.0x_ATE];
[Autorun_XYS_Suite_ATE_A600,X:\ATE\TestCases\SQC\Imaging,Archer600,SCM-ATE-01,SimulatorEngine,D:\BaseImage,17.02.01.30100_A600_Mil_Nunit_Image,\\isr1vmappcm01\Automated_Testing\17.0x_ATE]]</defaultValue>
          <trim>false</trim>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <EnvInjectJobProperty plugin="envinject@1.90">
      <info>
        <propertiesContent>BUILDTYPE=Scheduled
WSName=omdbuild_Archer_17.99.99_Dev_Workspace
SnapshotName=INIT_UOMD_BLD_${BUILD_VERSION}</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>true</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
  </properties>
  <scm class="com.ibm.team.build.internal.hjplugin.RTCScm" plugin="teamconcert@1.2.0.4">
    <overrideGlobal>false</overrideGlobal>
    <timeout>0</timeout>
    <buildType>
      <clearLoadDirectory>false</clearLoadDirectory>
      <createFoldersForComponents>false</createFoldersForComponents>
      <generateChangelogWithGoodBuild>false</generateChangelogWithGoodBuild>
      <overrideDefaultSnapshotName>false</overrideDefaultSnapshotName>
      <useDynamicLoadRules>false</useDynamicLoadRules>
    </buildType>
    <buildDefinition>OMD-Archer-V17.99.99-Scheduled-Jenkins</buildDefinition>
    <clearLoadDirectory>false</clearLoadDirectory>
    <createFoldersForComponents>false</createFoldersForComponents>
    <generateChangelogWithGoodBuild>false</generateChangelogWithGoodBuild>
    <avoidUsingToolkit>false</avoidUsingToolkit>
    <overrideDefaultSnapshotName>true</overrideDefaultSnapshotName>
    <customizedSnapshotName>${SnapshotName}</customizedSnapshotName>
    <useDynamicLoadRules>false</useDynamicLoadRules>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>30 00 * * 0-5</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>C:\Progra~2\Jenkins\tools\hudson.tasks.Ant_AntInstallation\RenameBuildLabel\bin\ant.bat -file %team_scm_fetchDestination%\OMD_Builds\JenkinsBuild\VersionUpdater\Build.xml -DbuildResultUUID=%buildResultUUID% -Dlabel=&quot;%BUILDTYPE%_UOMD_BLD_%BUILD_VERSION%&quot; &quot;-Dpassword=Scm07&amp;&quot; -DuserId=omdbuild -DtoolkitPath=C:\Build\TeamConcertBuild\buildsystem\buildtoolkit -DsnapshotUUID=%team_scm_workspaceUUID% &quot;-DrepositoryAddress=%repositoryAddress%&quot; -lib C:\Build\TeamConcertBuild\buildsystem\buildtoolkit</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>buildRequesterUserId=omdbuild
BUILD_VERSION=${BUILD_VERSION}
ReleaseBuildEngine=${ReleaseBuildEngine}
DebugBuildEngine=${DebugBuildEngine}
MajorMinor_Ver=${MajorMinor_Ver}
WSName=${WSName}
team_scm_fetchDestination=D:\\Sandboxes\\omdbuild_${BUILD_VERSION}
buildRequesterUserId=${buildRequesterUserId}
ClosureBuildEngine=master
BUILDTYPE=${BUILDTYPE}
VERSIONFILE=${VERSIONFILE}
AUTOVERSION=${AUTOVERSION}
RunningMode=DAILY
BuildAutoApproved=true
SnapshotName=${SnapshotName}
buildResultUUID=${buildResultUUID}
team_scm_workspaceUUID=${team_scm_workspaceUUID}
CheckSimTimeout=180
RunNunitTests=true</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>RDM_NuArcher_CI_Flow</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.21">
      <recipients>DL-OMD-ENG-SCM@kla-tencor.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.10"/>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.34">
      <patterns/>
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <EnvInjectBuildWrapper plugin="envinject@1.90">
      <info>
        <groovyScriptContent>def action = currentBuild.getAction(com.ibm.team.build.internal.hjplugin.RTCBuildResultAction.class)
def buildProps = action.getBuildProperties()
def bldResultUUID=buildProps[&apos;RTCBuildResultUUID&apos;]
def teamscmfetchDestination=buildProps[&apos;team_scm_fetchDestination&apos;]
def teamscmworkspaceUUID=buildProps[&apos;team_scm_workspaceUUID&apos;]
print (&quot;buildResultUUID=&quot;+ bldResultUUID)
def map = [buildResultUUID: bldResultUUID,team_scm_workspaceUUID:teamscmworkspaceUUID,team_scm_fetchDestination:teamscmfetchDestination] 
return map 
        </groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
    <org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper plugin="preSCMbuildstep@0.3">
      <buildSteps>
        <EnvInjectBuilder plugin="envinject@1.90">
          <info>
            <propertiesContent>VERSIONFILE=${BUILD_VERSION}
AUTOVERSION=false</propertiesContent>
          </info>
        </EnvInjectBuilder>
        <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.6">
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
          <runCondition class="org.jenkins_ci.plugins.run_condition.core.FileExistsCondition" plugin="run-condition@1.0">
            <file>${BUILD_VERSION}</file>
            <baseDir class="org.jenkins_ci.plugins.run_condition.common.BaseDirectory$Workspace"/>
          </runCondition>
          <conditionalbuilders>
            <hudson.tasks.BatchFile>
              <command>:: run command for incrementing the version&#xd;
set VERSIONCONFIG=\\isr1appcc02\SCM\OMD\Jenkins_Build_Version\VersionConfig.properties&#xd;
set team_scm_fetchDestination=\\isr1appcc02\SCM\OMD\Jenkins_Build_Version&#xd;
set BUILDVERSION=%BUILD_VERSION%&#xd;
CALL \\isr1appcc02\SCM\OMD\Jenkins_Build_Version\OMD_Builds\JenkinsBuild\VersionAutoIncremental\AutoVersion.bat&#xd;
IF %ERRORLEVEL% NEQ 0 (&#xd;
	ECHO &quot;Unable to calculate BUILDVERSION&quot;&#xd;
    Exit /b 1&#xd;
	)</command>
            </hudson.tasks.BatchFile>
            <EnvInjectBuilder plugin="envinject@1.90">
              <info>
                <propertiesFilePath>${BUILD_VERSION}</propertiesFilePath>
                <propertiesContent>VERSIONFILE=${BUILD_VERSION}
AUTOVERSION=true
BUILD_VERSION=${CurrentRunnningVersion}
SnapshotName=INIT_UOMD_BLD_${CurrentRunnningVersion}</propertiesContent>
              </info>
            </EnvInjectBuilder>
          </conditionalbuilders>
        </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
        <hudson.tasks.BatchFile>
          <command>C:\PROGRA~1\Unlocker\Unlocker.exe %WORKSPACE% /S</command>
        </hudson.tasks.BatchFile>
      </buildSteps>
      <failOnError>true</failOnError>
    </org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper>
  </buildWrappers>
</project>