<?xml version='1.1' encoding='UTF-8'?>
<com.amdocs.hudson.plugins.flow.FlowProject plugin="flow@16.3">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <inheritanceStrategy class="org.jenkinsci.plugins.matrixauth.inheritance.InheritParentStrategy"/>
      <permission>hudson.model.Item.Build:DL-OMD-SW-SQC</permission>
      <permission>hudson.model.Item.Cancel:DL-OMD-SW-SQC</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@1.0.3">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>StartingStep</name>
          <description>The flow will start from the specified step</description>
          <choices>
            <string>BUILD</string>
            <string>PACKAGING</string>
            <string>INSTALLATION</string>
            <string>SANITY</string>
            <string>MAT</string>
            <string>DOWNSTREAM</string>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>RunningMode</name>
          <description>The flow will start in the specified mode</description>
          <choices>
            <string>NORMAL</string>
            <string>DAILY</string>
            <string>WEEKLY</string>
            <string>DAILY_AND_WEEKLY</string>
            <string>MONTHLY</string>
            <string>DAILY_AND_MONTHLY</string>
            <string>WEEKLY_AND_MONTHLY</string>
            <string>ALL</string>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>FlowController</name>
          <description></description>
          <allowedSlaves>
            <string>master</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>master</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILDVERSION</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SourceBase</name>
          <description></description>
          <defaultValue>\\klasj\ktfiles\Regions\Israel\SWGRP</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILD_TYPE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Formal</string>
              <string>Scheduled</string>
              <string>Tasks</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>UploadEngine</name>
          <description></description>
          <allowedSlaves>
            <string>ALL (no restriction)</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>SCM-CHN-01</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DestBase</name>
          <description></description>
          <defaultValue>\\klasj\ktfiles\Regions\China\OMD</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>DownLoadEngine</name>
          <description></description>
          <allowedSlaves>
            <string>ALL (no restriction)</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>SCM-Builds-02</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.62">
      <recipientList></recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
      </configuredTriggers>
      <contentType>text/html</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>Dear User&lt;BR&gt;&lt;BR&gt;
 ${ENV, var=&quot;BUILDVERSION&quot;} Archer\RDM installation copied:
&lt;BR&gt;From: ${ENV, var=&quot;SourceBase&quot;}
&lt;BR&gt;To: ${ENV, var=&quot;DestBase&quot;}

&lt;BR&gt;&lt;BR&gt;

Regards&lt;BR&gt;
OMD CM Team</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>msg.setSubject(&quot;FileTransfer &quot;+build.getEnvVars().get(&quot;BUILDVERSION&quot;) + &quot; - &quot;+ build.result.toString());</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <from></from>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
  <flowDefinitionId>-1</flowDefinitionId>
  <globalEnvVars>
    <entry>
      <string>UploadEngine</string>
      <string></string>
    </entry>
    <entry>
      <string>DownLoadEngine</string>
      <string></string>
    </entry>
    <entry>
      <string>DestBase</string>
      <string></string>
    </entry>
    <entry>
      <string>FlowController</string>
      <string></string>
    </entry>
  </globalEnvVars>
  <profiler class="com.amdocs.hudson.plugins.dbprofiler.DBProfiler"/>
  <jobParameterList class="java.util.concurrent.CopyOnWriteArrayList">
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>SetFlowController</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>BUILD</step>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>false</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>false</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>UpLoadFile</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>BUILD</step>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>false</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>false</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>DownLoadFile</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>BUILD</step>
      <dependencyJobList class="java.util.concurrent.CopyOnWriteArrayList">
        <com.amdocs.hudson.plugins.flow.DependencyJob>
          <dependencyJobName>UpLoadFile</dependencyJobName>
        </com.amdocs.hudson.plugins.flow.DependencyJob>
      </dependencyJobList>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>false</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>false</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
  </jobParameterList>
  <createNodesDef/>
  <allowConcurrentFlow>false</allowConcurrentFlow>
  <allowDeleteProjects>true</allowDeleteProjects>
  <preventFromExecutingJobs>false</preventFromExecutingJobs>
  <executeConcurrentFlowAnyway>false</executeConcurrentFlowAnyway>
  <shareParameters>true</shareParameters>
  <smartRebuild>false</smartRebuild>
  <rebuildFromFailuresWithoutParam>false</rebuildFromFailuresWithoutParam>
  <mode>ALL</mode>
  <showHide>HIDE</showHide>
</com.amdocs.hudson.plugins.flow.FlowProject>