<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>true</useBuildBlocker>
      <blockLevel>NODE</blockLevel>
      <scanQueueFor>BUILDABLE</scanQueueFor>
      <blockingJobs>Archer Build - Debug Mode</blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@2.0.1">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_VERSION</name>
          <description>Represents full version of the build.
Must be in XX.YY.ZZ.VVVVV format.</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <org.biouno.unochoice.DynamicReferenceParameter plugin="uno-choice@2.1">
          <name>MajorMinor_Ver</name>
          <description></description>
          <randomName>choice-parameter-372711412722652</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1.44">
              <script>String major_min=BUILD_VERSION.substring(0,BUILD_VERSION.indexOf(&quot;.&quot;,3))
return &quot;&lt;input name=\&quot;value\&quot; value=\&quot;${major_min}\&quot; class=\&quot;setting-input\&quot; type=\&quot;text\&quot;&gt;&quot;</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1.44">
              <script>String major_min=BUILD_VERSION.substring(0,BUILD_VERSION.indexOf(&quot;.&quot;,3))
return &quot;&lt;input name=\&quot;value\&quot; value=\&quot;${major_min}\&quot; class=\&quot;setting-input\&quot; type=\&quot;text\&quot;&gt;&quot;</script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>SCA RELEASE</projectName>
          <parameters class="linked-hash-map"/>
          <referencedParameters>BUILD_VERSION</referencedParameters>
          <choiceType>ET_FORMATTED_HTML</choiceType>
          <omitValueField>true</omitValueField>
        </org.biouno.unochoice.DynamicReferenceParameter>
        <hudson.model.StringParameterDefinition>
          <name>WSName</name>
          <description></description>
          <defaultValue>omdbuild_Archer_${MajorMinor_Ver}_Integ_Workspace</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.5.0">
          <name>buildRequesterUserId</name>
          <description></description>
          <editable>true</editable>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.SystemGroovyChoiceListProvider">
            <groovyScript plugin="script-security@1.44">
              <script>import hudson.model.User
String user =User.current().getId()
return [user]</script>
              <sandbox>true</sandbox>
            </groovyScript>
            <usePredefinedVariables>false</usePredefinedVariables>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>team_scm_fetchDestination</name>
          <description></description>
          <defaultValue>D:\Sandboxes\${buildRequesterUserId}_${BUILD_VERSION}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>ReleaseBuildEngine</name>
          <description></description>
          <allowedSlaves>
            <string>ALL (no restriction)</string>
          </allowedSlaves>
          <defaultSlaves/>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILDRELEASE</name>
          <description></description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILDTYPE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Formal</string>
              <string>Tasks</string>
              <string>Scheduled</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>StartFromSolution</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string></string>
              <string>BuildCommonTypes</string>
              <string>BuildProxy</string>
              <string>BuildCommon</string>
              <string>BuildInfrastructure</string>
              <string>BuildNGPlatformContracts</string>
              <string>BuildCodeGeneration</string>
              <string>BuildNGPlatformUtilities</string>
              <string>BuildNGPlatformComponents</string>
              <string>BuildNGPlatformRecipe</string>
              <string>BuildNGPlatformScripting</string>
              <string>BuildUIServers</string>
              <string>BuildKernel</string>
              <string>BuildENV10</string>
              <string>BuildToolSystemInfoPackage</string>
              <string>CommonUtilities</string>
              <string>BuildRTInfrastructure</string>
              <string>BuildRTPlatform</string>
              <string>BuildNGiMetrologyContracts</string>
              <string>BuildLinnikCommonTypes</string>
              <string>BuildNGLinnikContracts</string>
              <string>BuildNGLinnikHelpers</string>
              <string>BuildLinnikCommon</string>
              <string>BuildNGLinnikMCommon</string>
              <string>BuildNGLinnikUtilities</string>
              <string>BuildNGLinnikComponents</string>
              <string>BuildNGLinnikScripting</string>
              <string>BuildNGLinnikRecipe</string>
              <string>BuildMBSCommonTypes</string>
              <string>BuildNGMBSContracts</string>
              <string>BuildNGMBSHelpers</string>
              <string>BuildMBSCommon</string>
              <string>BuildNGMBSMCommon</string>
              <string>BuildNGMBSUtilities</string>
              <string>BuildNGMBSComponents</string>
              <string>BuildNGMBSScripting</string>
              <string>BuildNGMBSRecipe</string>
              <string>BuildCommonOVL_Common</string>
              <string>BuildNGCommonOVLContracts</string>
              <string>BuildNGCommonOVLComponents</string>
              <string>BuildNGCommonOVLRecipe</string>
              <string>BuildOVLCommon</string>
              <string>BuildNexGOCommon</string>
              <string>BuildXYSAIMCommon</string>
              <string>BuildMOLCommon</string>
              <string>BuildBLOCommon</string>
              <string>BuildBFCDCommon</string>
              <string>BuildArcherCommon</string>
              <string>BuildJIGCommon</string>
              <string>BuildJ1Common</string>
              <string>BuildJ2Common</string>
              <string>BuildAIMidMLCommon</string>
              <string>BuildAROLCommon</string>
              <string>BuildLinnikUIServers</string>
              <string>BuildOVLUIServers</string>
              <string>BuildMOLUIServers</string>
              <string>BuildBLOUIServers</string>
              <string>BuildMBSUIServers</string>
              <string>BuildNGAROLContracts</string>
              <string>BuildNGAROLUtilities</string>
              <string>BuildNGAROLComponents</string>
              <string>BuildNGAROLScripting</string>
              <string>BuildNGAROLRecipe</string>
              <string>BuildAROLUIServers</string>
              <string>BuildAIMidMLUIServers</string>
              <string>BuildArcherKernel</string>
              <string>BuildLinnikKernel</string>
              <string>BuildiMetrologyCommon</string>
              <string>BuildNGiMetrologyComponents</string>
              <string>BuildiMetrologyKernel</string>
              <string>BuildIMAdapter</string>
              <string>BuildMBSKernel</string>
              <string>BuildCommonOVLKernel</string>
              <string>BuildOVLKernel</string>
              <string>BuildAROLKernel</string>
              <string>BuildLinnikApps</string>
              <string>BuildMBSApps</string>
              <string>BuildCommonOVLApps</string>
              <string>BuildAROLApps</string>
              <string>BuildArcherApps</string>
              <string>BuildOVLApps</string>
              <string>BuildNGOVLContracts</string>
              <string>BuildNGOVLRecipe</string>
              <string>BuildNGOVLComponents</string>
              <string>BuildNGOVLScripting</string>
              <string>BuildNexGOUIServers</string>
              <string>BuildXYSAIMUIServers</string>
              <string>BuildBFCDUIServers</string>
              <string>BuildNexGOKernel</string>
              <string>BuildXYSAIMKernel</string>
              <string>BuildMOLKernel</string>
              <string>BuildBLOKernel</string>
              <string>BuildBFCDKernel</string>
              <string>BuildNexGOENV10</string>
              <string>BuildNGNexGOContracts</string>
              <string>BuildNGNexGOComponents</string>
              <string>BuildNGAIMScripting</string>
              <string>BuildXYSAIMApps</string>
              <string>BuildNGXYSAIMContracts</string>
              <string>BuildNGXYSAIMComponents</string>
              <string>BuildNGXYSAIMScripting</string>
              <string>BuildMOLApps</string>
              <string>BuildBLOApps</string>
              <string>BuildNGMOLContracts</string>
              <string>BuildNGMOLComponents</string>
              <string>BuildNGMOLScripting</string>
              <string>BuildNGBLOContracts</string>
              <string>BuildNGBLOComponents</string>
              <string>BuildNGBLOScripting</string>
              <string>BuildAIMidMLKernel</string>
              <string>BuildAIMidMLApps</string>
              <string>BuildNGMOLMLContracts</string>
              <string>BuildNGMOLMLComponents</string>
              <string>BuildNGAIMidMLScripting</string>
              <string>BuildBFCDApps</string>
              <string>BuildJ1Kernel</string>
              <string>BuildJ2Kernel</string>
              <string>BuildJ1Apps</string>
              <string>BuildJ2Apps</string>
              <string>BuildJIGApps</string>
              <string>BuildiMetrologyApps</string>
              <string>BuildRTLinnik</string>
              <string>BuildRTMBS</string>
              <string>CopyBuild</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILDCONTROLLERFDC</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>AUTO</string>
              <string>TRUE</string>
              <string>FALSE</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILDCONTROLLERFZC</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>AUTO</string>
              <string>TRUE</string>
              <string>FALSE</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILDCONTROLLERIMC</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>AUTO</string>
              <string>TRUE</string>
              <string>FALSE</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILDCONTROLLERSTAGE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>AUTO</string>
              <string>TRUE</string>
              <string>FALSE</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILDCONTROLLERUMC</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>AUTO</string>
              <string>TRUE</string>
              <string>FALSE</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WORKSPACE</name>
          <description></description>
          <defaultValue>C:\temp\${BUILD_VERSION}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>emailGroups</name>
          <description>This value is supplied by builds initiated through RTC.
&lt;br&gt;
Groups receipts are loaded from \\isr1appcc02\SCM\OMD\Jenkins_Build_conf_files\Email_Groups.txt</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>emailGroupsDefFile</name>
          <description></description>
          <defaultValue>\\isr1appcc02\SCM\OMD\Jenkins_Build_conf_files\Email_Groups.txt</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>StaticCodeAnalysisModeRelease</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Disabled</string>
              <string>Warning</string>
              <string>Error</string>
              <string>ErrorOnBuildEnd</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>LOG_VERBOSITY</name>
          <description>MSBuild verbosity to run the build with</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>minimal</string>
              <string>normal</string>
              <string>detailed</string>
              <string>diagnostic</string>
              <string>quiet</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JENKINCONFIGPATH</name>
          <description></description>
          <defaultValue>\\isr1appcc02\SCM\OMD</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ReleaseEmailGroups</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>1</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>true</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>true</limitOneJobWithMatchingParams>
      <paramsToUseForLimit>ReleaseBuildEngine</paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <EnvInjectJobProperty plugin="envinject@1.90">
      <info>
        <groovyScriptContent>currentBuild.setDescription(BUILDTYPE + &quot;-&quot;+ BUILD_VERSION + &quot; triggered by &apos;&quot; + buildRequesterUserId + &quot;&apos; in &apos;&quot; + ReleaseBuildEngine +&quot;&apos;&quot;)</groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <customWorkspace>${team_scm_fetchDestination}</customWorkspace>
  <builders>
    <EnvInjectBuilder plugin="envinject@1.90">
      <info>
        <propertiesFilePath>${team_scm_fetchDestination}\OMD_Builds\JenkinsBuild\MakeFiles\Env.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.BatchFile>
      <command>SET BUILDDEBUG=FALSE&#xd;
SET AUTOINSTALLATION=FALSE&#xd;
SET AUTODELIVER=FALSE&#xd;
set AUTOVERSION=false&#xd;
Echo StaticCodeAnalysisModeRelease=%StaticCodeAnalysisModeRelease%&#xd;
MkDir %WORKSPACE%&#xd;
&#xd;
IF EXIST %team_scm_fetchDestination%\OMD_Builds\JenkinsBuild\MakeFiles\Matlab.CFG (&#xd;
ECHO *****Matlab make file exist, Matlab will be built seperately**********&#xd;
SET MATLAB_INTERFACES_ONLY=TRUE&#xd;
)&#xd;
&#xd;
SET BUILDVERSION=%BUILD_VERSION%&#xd;
CALL %team_scm_fetchDestination%\OMD_Builds\JenkinsBuild\BatchFiles\DoFullBuild.bat&#xd;
rem echo ClosureBuildEngine=%ReleaseBuildEngine% &gt;&gt; %OVERWRITE%</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher plugin="flexible-publish@0.15.2">
      <publishers>
        <org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
          <condition class="org.jenkins_ci.plugins.run_condition.contributed.BatchFileCondition" plugin="run-condition@1.0">
            <command>IF EXIST %OutDirCommon%\CodeAnalysis (
echo =====================================================
echo Copying build CodeAnalysis files to Sandbox
echo =====================================================
xcopy /hievry %OutDirCommon%\CodeAnalysis %team_scm_fetchDestination%\CodeAnalysis
)</command>
          </condition>
          <publisherList/>
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
          <executionStrategy class="org.jenkins_ci.plugins.flexible_publish.strategy.FailAtEndExecutionStrategy"/>
        </org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
        <org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
          <condition class="org.jenkins_ci.plugins.run_condition.logic.Not" plugin="run-condition@1.0">
            <condition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition">
              <arg1>${StaticCodeAnalysisModeRelease}</arg1>
              <arg2>Disabled</arg2>
              <ignoreCase>true</ignoreCase>
            </condition>
          </condition>
          <publisherList>
            <hudson.plugins.warnings.WarningsPublisher plugin="warnings@4.67">
              <healthy></healthy>
              <unHealthy></unHealthy>
              <thresholdLimit>low</thresholdLimit>
              <pluginName>[WARNINGS] </pluginName>
              <defaultEncoding></defaultEncoding>
              <canRunOnFailed>true</canRunOnFailed>
              <usePreviousBuildAsReference>false</usePreviousBuildAsReference>
              <useStableBuildAsReference>false</useStableBuildAsReference>
              <useDeltaValues>false</useDeltaValues>
              <thresholds plugin="analysis-core@1.95">
                <unstableTotalAll></unstableTotalAll>
                <unstableTotalHigh></unstableTotalHigh>
                <unstableTotalNormal></unstableTotalNormal>
                <unstableTotalLow></unstableTotalLow>
                <unstableNewAll></unstableNewAll>
                <unstableNewHigh></unstableNewHigh>
                <unstableNewNormal></unstableNewNormal>
                <unstableNewLow></unstableNewLow>
                <failedTotalAll>0</failedTotalAll>
                <failedTotalHigh></failedTotalHigh>
                <failedTotalNormal></failedTotalNormal>
                <failedTotalLow></failedTotalLow>
                <failedNewAll></failedNewAll>
                <failedNewHigh></failedNewHigh>
                <failedNewNormal></failedNewNormal>
                <failedNewLow></failedNewLow>
              </thresholds>
              <shouldDetectModules>false</shouldDetectModules>
              <dontComputeNew>true</dontComputeNew>
              <doNotResolveRelativePaths>false</doNotResolveRelativePaths>
              <includePattern></includePattern>
              <excludePattern></excludePattern>
              <messagesPattern></messagesPattern>
              <categoriesPattern></categoriesPattern>
              <parserConfigurations>
                <hudson.plugins.warnings.ParserConfiguration>
                  <pattern>CodeAnalysis\*.xml</pattern>
                  <parserName>PREfast</parserName>
                </hudson.plugins.warnings.ParserConfiguration>
                <hudson.plugins.warnings.ParserConfiguration>
                  <pattern>CodeAnalysis\*.xml</pattern>
                  <parserName>FxCop</parserName>
                </hudson.plugins.warnings.ParserConfiguration>
              </parserConfigurations>
              <consoleParsers/>
            </hudson.plugins.warnings.WarningsPublisher>
          </publisherList>
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
          <executionStrategy class="org.jenkins_ci.plugins.flexible_publish.strategy.FailAtEndExecutionStrategy"/>
        </org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
      </publishers>
    </org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.10"/>
    <EnvInjectBuildWrapper plugin="envinject@1.90">
      <info>
        <propertiesFilePath>${JENKINCONFIGPATH}\Jenkins_Build_conf_files\Global_Env.properties</propertiesFilePath>
        <propertiesContent>team_scm_fetchDestination=${team_scm_fetchDestination}
WORKSPACE=${team_scm_fetchDestination}</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
    <org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper plugin="preSCMbuildstep@0.3">
      <buildSteps>
        <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.35.2">
          <configs>
            <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
              <configs>
                <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
                <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                  <properties>buildEngineHostName=${ReleaseBuildEngine}</properties>
                  <textParamValueOnNewLine>false</textParamValueOnNewLine>
                </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              </configs>
              <projects>DiskspaceAlertNew</projects>
              <condition>ALWAYS</condition>
              <triggerWithNoParameters>false</triggerWithNoParameters>
              <triggerFromChildProjects>false</triggerFromChildProjects>
              <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
            </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          </configs>
        </hudson.plugins.parameterizedtrigger.TriggerBuilder>
        <hudson.tasks.BatchFile>
          <command>taskkill /F /FI &quot;IMAGENAME eq Matlab*&quot;</command>
        </hudson.tasks.BatchFile>
        <hudson.tasks.BatchFile>
          <command>echo ### Removing old build data ###&#xd;
if defined StartFromSolution goto end&#xd;
if exist &quot;D:\BuildOutputs\%WSName%_V%BUILD_VERSION%&quot; rd /q /s &quot;D:\BuildOutputs\%WSName%_V%BUILD_VERSION%&quot;&#xd;
:end</command>
        </hudson.tasks.BatchFile>
      </buildSteps>
      <failOnError>false</failOnError>
    </org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper>
  </buildWrappers>
</project>