<?xml version='1.0' encoding='UTF-8'?>
<com.amdocs.hudson.plugins.flow.FlowProject plugin="flow@16.3">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
      <configVersion>1</configVersion>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.9"/>
    <org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper plugin="preSCMbuildstep@0.3">
      <buildSteps>
        <hudson.plugins.groovy.SystemGroovy plugin="groovy@2.0">
          <source class="hudson.plugins.groovy.StringSystemScriptSource">
            <script plugin="script-security@1.39">
              <script>import hudson.model.Result;

def BuildAutoApproved = build.buildVariableResolver.resolve(&quot;BuildAutoApproved&quot;)

if (BuildAutoApproved != &quot;true&quot;) {
	println (&quot;BuildAutoApproved was disabled. Build closure flow will not run&quot;);
  	build.getExecutor().interrupt(Result.SUCCESS)
}</script>
              <sandbox>false</sandbox>
            </script>
          </source>
        </hudson.plugins.groovy.SystemGroovy>
        <hudson.tasks.BatchFile>
          <command>FOR /F tokens^=2^ delims^=^&quot; %%X IN (&apos;c:\Progra~2\IBM\TeamConcertBuild\scmtools\eclipse\scm show attr -r http://clm.kla-tencor.com/ccm/  -u omdbuild -P &quot;Scm07&amp;&quot; --workspace %WSName%&apos;) DO (&#xd;
			echo WSName=%%X &gt; %OVERWRITE%&#xd;
			GOTO ENDLOOP&#xd;
		)&#xd;
:ENDLOOP</command>
        </hudson.tasks.BatchFile>
        <hudson.plugins.descriptionsetter.DescriptionSetterBuilder plugin="description-setter@1.10">
          <regexp></regexp>
          <description>Running build closure steps for build ${BUILD_VERSION}</description>
        </hudson.plugins.descriptionsetter.DescriptionSetterBuilder>
      </buildSteps>
      <failOnError>false</failOnError>
    </org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper>
  </buildWrappers>
  <flowDefinitionId>-1</flowDefinitionId>
  <globalEnvVars>
    <entry>
      <string>CodeViewLoadePath</string>
      <string></string>
    </entry>
    <entry>
      <string>VERSIONFILE</string>
      <string></string>
    </entry>
    <entry>
      <string>FlowController</string>
      <string></string>
    </entry>
    <entry>
      <string>AUTOVERSION</string>
      <string></string>
    </entry>
    <entry>
      <string>BUILDTYPE</string>
      <string></string>
    </entry>
  </globalEnvVars>
  <profiler class="com.amdocs.hudson.plugins.dbprofiler.DBProfiler"/>
  <jobParameterList class="java.util.concurrent.CopyOnWriteArrayList">
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>SetFlowController</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>BUILD</step>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>false</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>false</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>OMD-Archer-Buid-CreateCodeViewNew</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>PACKAGING</step>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>true</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>true</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>OMD-Archer-Build-Create_Snapshot_Baseline</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>PACKAGING</step>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>true</triggersFlag>
      <triggers>
        <dailyTriggerFlag>true</dailyTriggerFlag>
        <weeklyTriggerFlag>true</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>OMD-Archer-Build-PromoteBuildWIs</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>PACKAGING</step>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>true</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>true</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>OMD-Archer-Buid-CleanLocalBuildData</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>PACKAGING</step>
      <dependencyJobList class="java.util.concurrent.CopyOnWriteArrayList">
        <com.amdocs.hudson.plugins.flow.DependencyJob>
          <dependencyJobName>OMD-Archer-Build-PromoteBuildWIs</dependencyJobName>
        </com.amdocs.hudson.plugins.flow.DependencyJob>
        <com.amdocs.hudson.plugins.flow.DependencyJob>
          <dependencyJobName>OMD-Archer-Build-Create_Snapshot_Baseline</dependencyJobName>
        </com.amdocs.hudson.plugins.flow.DependencyJob>
        <com.amdocs.hudson.plugins.flow.DependencyJob>
          <dependencyJobName>OMD - Increment Build Number</dependencyJobName>
        </com.amdocs.hudson.plugins.flow.DependencyJob>
      </dependencyJobList>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>true</triggersFlag>
      <triggers>
        <dailyTriggerFlag>true</dailyTriggerFlag>
        <weeklyTriggerFlag>false</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>OMD - Increment Build Number</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>PACKAGING</step>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>true</triggersFlag>
      <triggers>
        <dailyTriggerFlag>true</dailyTriggerFlag>
        <weeklyTriggerFlag>true</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
  </jobParameterList>
  <createNodesDef/>
  <allowConcurrentFlow>false</allowConcurrentFlow>
  <allowDeleteProjects>true</allowDeleteProjects>
  <preventFromExecutingJobs>false</preventFromExecutingJobs>
  <executeConcurrentFlowAnyway>false</executeConcurrentFlowAnyway>
  <shareParameters>true</shareParameters>
  <smartRebuild>false</smartRebuild>
  <rebuildFromFailuresWithoutParam>false</rebuildFromFailuresWithoutParam>
  <mode>ALL</mode>
  <showHide>HIDE</showHide>
</com.amdocs.hudson.plugins.flow.FlowProject>