<?xml version='1.1' encoding='UTF-8'?>
<com.amdocs.hudson.plugins.flow.FlowProject plugin="flow@16.3">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@2.0.1">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>10</maxConcurrentPerNode>
      <maxConcurrentTotal>10</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>true</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
      <configVersion>1</configVersion>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>StartingStep</name>
          <description>The flow will start from the specified step</description>
          <choices>
            <string>BUILD</string>
            <string>PACKAGING</string>
            <string>INSTALLATION</string>
            <string>SANITY</string>
            <string>MAT</string>
            <string>DOWNSTREAM</string>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>RunningMode</name>
          <description>The flow will start in the specified mode</description>
          <choices>
            <string>NORMAL</string>
            <string>DAILY</string>
            <string>WEEKLY</string>
            <string>DAILY_AND_WEEKLY</string>
            <string>MONTHLY</string>
            <string>DAILY_AND_MONTHLY</string>
            <string>WEEKLY_AND_MONTHLY</string>
            <string>ALL</string>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>FlowController</name>
          <description></description>
          <allowedSlaves>
            <string>master</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>master</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_VERSION</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <org.biouno.unochoice.DynamicReferenceParameter plugin="uno-choice@2.1">
          <name>MajorMinor_Ver</name>
          <description></description>
          <randomName>choice-parameter-1396436508196432</randomName>
          <visibleItemCount>0</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1.44">
              <script>String major_min=BUILD_VERSION.substring(0,BUILD_VERSION.indexOf(&quot;.&quot;,3))
return &quot;&lt;input name=\&quot;value\&quot; value=\&quot;${major_min}\&quot; class=\&quot;setting-input\&quot; type=\&quot;text\&quot;&gt;&quot;</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1.44">
              <script>String major_min=BUILD_VERSION.substring(0,BUILD_VERSION.indexOf(&quot;.&quot;,3))
return &quot;&lt;input name=\&quot;value\&quot; value=\&quot;${major_min}\&quot; class=\&quot;setting-input\&quot; type=\&quot;text\&quot;&gt;&quot;</script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>BuildClosure-Flow</projectName>
          <parameters class="linked-hash-map"/>
          <referencedParameters>BUILD_VERSION</referencedParameters>
          <choiceType>ET_FORMATTED_HTML</choiceType>
          <omitValueField>true</omitValueField>
        </org.biouno.unochoice.DynamicReferenceParameter>
        <hudson.model.StringParameterDefinition>
          <name>WSName</name>
          <description></description>
          <defaultValue>omdbuild_Archer_${MajorMinor_Ver}_Integ_Workspace</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CodeViewLoadePath</name>
          <description></description>
          <defaultValue>E:\Views\OMD\OMD-UN_${MajorMinor_Ver}\UOMD_BLD_${BUILD_VERSION}_code</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BuildAutoApproved</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.5.0">
          <name>buildRequesterUserId</name>
          <description></description>
          <editable>true</editable>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.SystemGroovyChoiceListProvider">
            <groovyScript plugin="script-security@1.44">
              <script>import hudson.model.User
String user =User.current().getId()
return [user]</script>
              <sandbox>true</sandbox>
            </groovyScript>
            <usePredefinedVariables>false</usePredefinedVariables>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>team_scm_fetchDestination</name>
          <description>Scripts/Sandbox path
If not provided, it will be assumed as D:\Sandboxes\omdbuild_%BUILD_VERSION%   While %BUILD_VERSION% is the value of the parameter BUILD_VERSION</description>
          <defaultValue>D:\Sandboxes\omdbuild_${BUILD_VERSION}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>ReleaseBuildEngine</name>
          <description>The slave/node where the build was hosted</description>
          <allowedSlaves>
            <string>ALL (no restriction)</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>SCM-Builds-01</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ReplaceSnaps</name>
          <description>Replace snapshots/baselines with same build number if exists. &lt;BR&gt;
Since RTC is not supporing baseline replce/delete, old snapshots and baselines will be renamed.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JENKINCONFIGPATH</name>
          <description></description>
          <defaultValue>\\isr1appcc02\SCM\OMD</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>DebugBuildEngine</name>
          <description></description>
          <allowedSlaves>
            <string>ALL (no restriction)</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>SCM-Builds-01</string>
          </defaultSlaves>
          <triggerIfResult>allowMultiSelectionForConcurrentBuilds</triggerIfResult>
          <allowMultiNodeSelection>true</allowMultiNodeSelection>
          <triggerConcurrentBuilds>true</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>VERSIONFILE</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILDTYPE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Tasks</string>
              <string>Formal</string>
              <string>Scheduled</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>AUTOVERSION</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RunAutoRebase</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Dev_Stream_Name</name>
          <description></description>
          <defaultValue>Archer_${MajorMinor_Ver}_Dev</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Integ_Stream_Name</name>
          <description></description>
          <defaultValue>Archer_${MajorMinor_Ver}_Integ</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ScheduledBuildJenkinsJobName</name>
          <description></description>
          <defaultValue>OMD_${MajorMinor_Ver}_Scheduled_Trigger</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.10"/>
    <org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper plugin="preSCMbuildstep@0.3">
      <buildSteps>
        <hudson.plugins.groovy.SystemGroovy plugin="groovy@2.0">
          <source class="hudson.plugins.groovy.StringSystemScriptSource">
            <script plugin="script-security@1.44">
              <script>import hudson.model.Result;

def BuildAutoApproved = build.buildVariableResolver.resolve(&quot;BuildAutoApproved&quot;)

if (BuildAutoApproved != &quot;true&quot;) {
	println (&quot;BuildAutoApproved was disabled. Build closure flow will not run&quot;);
  	build.getExecutor().interrupt(Result.SUCCESS)
}</script>
              <sandbox>false</sandbox>
            </script>
          </source>
        </hudson.plugins.groovy.SystemGroovy>
        <hudson.tasks.BatchFile>
          <command>FOR /F tokens^=2^ delims^=^&quot; %%X IN (&apos;c:\Progra~2\IBM\TeamConcertBuild\scmtools\eclipse\scm show attr -r http://clm.kla-tencor.com/ccm/  -u omdbuild -P &quot;Scm07&amp;&quot; --workspace %WSName%&apos;) DO (&#xd;
			echo WSName=%%X &gt; %OVERWRITE%&#xd;
			GOTO ENDLOOP&#xd;
		)&#xd;
:ENDLOOP</command>
        </hudson.tasks.BatchFile>
        <hudson.plugins.descriptionsetter.DescriptionSetterBuilder plugin="description-setter@1.10">
          <regexp></regexp>
          <description>Running build closure steps for build ${BUILD_VERSION}</description>
        </hudson.plugins.descriptionsetter.DescriptionSetterBuilder>
      </buildSteps>
      <failOnError>false</failOnError>
    </org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper>
  </buildWrappers>
  <flowDefinitionId>-1</flowDefinitionId>
  <globalEnvVars>
    <entry>
      <string>CodeViewLoadePath</string>
      <string></string>
    </entry>
    <entry>
      <string>Dev_Stream_Name</string>
      <string></string>
    </entry>
    <entry>
      <string>Integ_Stream_Name</string>
      <string></string>
    </entry>
    <entry>
      <string>ScheduledBuildJenkinsJobName</string>
      <string></string>
    </entry>
    <entry>
      <string>DebugBuildEngine</string>
      <string></string>
    </entry>
    <entry>
      <string>VERSIONFILE</string>
      <string></string>
    </entry>
    <entry>
      <string>FlowController</string>
      <string></string>
    </entry>
    <entry>
      <string>AUTOVERSION</string>
      <string></string>
    </entry>
    <entry>
      <string>BUILDTYPE</string>
      <string></string>
    </entry>
    <entry>
      <string>ReplaceSnaps</string>
      <string></string>
    </entry>
  </globalEnvVars>
  <profiler class="com.amdocs.hudson.plugins.dbprofiler.DBProfiler"/>
  <jobParameterList class="java.util.concurrent.CopyOnWriteArrayList">
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>SetFlowController</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>BUILD</step>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>false</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>false</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>OMD-Archer-Buid-CreateCodeViewNew</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>PACKAGING</step>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>true</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>true</weeklyTriggerFlag>
        <monthlyTriggerFlag>true</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>OMD-Archer-Build-Create_Snapshot_Baseline</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>PACKAGING</step>
      <dependencyJobList class="java.util.concurrent.CopyOnWriteArrayList">
        <com.amdocs.hudson.plugins.flow.DependencyJob>
          <dependencyJobName>OMD-Archer-Build-PromoteBuildWIsToPV</dependencyJobName>
        </com.amdocs.hudson.plugins.flow.DependencyJob>
      </dependencyJobList>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>true</triggersFlag>
      <triggers>
        <dailyTriggerFlag>true</dailyTriggerFlag>
        <weeklyTriggerFlag>true</weeklyTriggerFlag>
        <monthlyTriggerFlag>true</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>OMD-Archer-Build-PromoteBuildWIsToPV</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>PACKAGING</step>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>true</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>true</weeklyTriggerFlag>
        <monthlyTriggerFlag>true</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>OMD-Archer-Buid-CleanLocalBuildData</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>PACKAGING</step>
      <dependencyJobList class="java.util.concurrent.CopyOnWriteArrayList">
        <com.amdocs.hudson.plugins.flow.DependencyJob>
          <dependencyJobName>OMD-Archer-Build-PromoteBuildWIsToPV</dependencyJobName>
        </com.amdocs.hudson.plugins.flow.DependencyJob>
        <com.amdocs.hudson.plugins.flow.DependencyJob>
          <dependencyJobName>OMD-Archer-Build-Create_Snapshot_Baseline</dependencyJobName>
        </com.amdocs.hudson.plugins.flow.DependencyJob>
        <com.amdocs.hudson.plugins.flow.DependencyJob>
          <dependencyJobName>OMD - Increment Build Number</dependencyJobName>
        </com.amdocs.hudson.plugins.flow.DependencyJob>
      </dependencyJobList>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>true</triggersFlag>
      <triggers>
        <dailyTriggerFlag>true</dailyTriggerFlag>
        <weeklyTriggerFlag>false</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>OMD - Increment Build Number</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>PACKAGING</step>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>true</triggersFlag>
      <triggers>
        <dailyTriggerFlag>true</dailyTriggerFlag>
        <weeklyTriggerFlag>true</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>TriggerAutoRebaseInteg</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>PACKAGING</step>
      <dependencyJobList class="java.util.concurrent.CopyOnWriteArrayList">
        <com.amdocs.hudson.plugins.flow.DependencyJob>
          <dependencyJobName>OMD-Archer-Build-Create_Snapshot_Baseline</dependencyJobName>
        </com.amdocs.hudson.plugins.flow.DependencyJob>
      </dependencyJobList>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>true</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>true</weeklyTriggerFlag>
        <monthlyTriggerFlag>true</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>TriggerEnableScheduledJob</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>PACKAGING</step>
      <dependencyJobList class="java.util.concurrent.CopyOnWriteArrayList">
        <com.amdocs.hudson.plugins.flow.DependencyJob>
          <dependencyJobName>TriggerAutoRebaseInteg</dependencyJobName>
        </com.amdocs.hudson.plugins.flow.DependencyJob>
      </dependencyJobList>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>true</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>true</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
  </jobParameterList>
  <createNodesDef/>
  <allowConcurrentFlow>true</allowConcurrentFlow>
  <concurrentFlowCanStartAfterStep>BUILD</concurrentFlowCanStartAfterStep>
  <allowDeleteProjects>true</allowDeleteProjects>
  <preventFromExecutingJobs>false</preventFromExecutingJobs>
  <executeConcurrentFlowAnyway>false</executeConcurrentFlowAnyway>
  <shareParameters>true</shareParameters>
  <smartRebuild>false</smartRebuild>
  <rebuildFromFailuresWithoutParam>false</rebuildFromFailuresWithoutParam>
  <mode>ALL</mode>
  <showHide>HIDE</showHide>
</com.amdocs.hudson.plugins.flow.FlowProject>