<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@2.0.1">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>ATEControllerEngine</name>
          <description></description>
          <allowedSlaves>
            <string>SCM-ATE-01</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>SCM-ATE-01</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>SimulatorEngine</name>
          <description></description>
          <allowedSlaves>
            <string>SCM-SIM7050-01</string>
            <string>SCM-SIM7050-02</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>SCM-SIM7050-01</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Auto_Deploy_Sanity</name>
          <description></description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TestSuite</name>
          <description>Full file name, XXXXX.csv</description>
          <defaultValue>AROL_Autorun_ATE_Suite</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TestSuitePath</name>
          <description>Start with X:</description>
          <defaultValue>X:\ATE\TestCases\SQC\MBS\AROL</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ATEBasePath</name>
          <description></description>
          <defaultValue>\\isr1vmappcm01\Automated_Testing\17.0x_ATE</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CheckSimTimeout</name>
          <description></description>
          <defaultValue>180</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>ToolType</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Archer TL</string>
              <string>Archer600</string>
              <string>Archer700</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_VERSION</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TEST_ID</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SCRIPT_NUMBER</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>product</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>PublishToTestRail</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>10</maxConcurrentPerNode>
      <maxConcurrentTotal>2</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>true</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit>SimulatorEngine</paramsToUseForLimit>
      <configVersion>1</configVersion>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <customWorkspace>C:\Eggplant Reports</customWorkspace>
  <builders>
    <hudson.plugins.descriptionsetter.DescriptionSetterBuilder plugin="description-setter@1.10">
      <regexp></regexp>
      <description>Run ${TestSuite} on ${SimulatorEngine} with ${ToolType} configuration.</description>
    </hudson.plugins.descriptionsetter.DescriptionSetterBuilder>
    <hudson.tasks.BatchFile>
      <command>::@ECHO off&#xd;
set pinglooptimeout=0&#xd;
:pingloopstart&#xd;
if %pinglooptimeout%==%CheckSimTimeout% (&#xd;
echo ******* autologonuser is not logged on ************&#xd;
goto error&#xd;
)&#xd;
echo ******* check autologonuser status on %SimulatorEngine% for %pinglooptimeout% time&#xd;
wmic.exe /node:&apos;%SimulatorEngine%&apos; computersystem get username| find &quot;autologonuser&quot;&#xd;
if not %errorlevel%==0 (&#xd;
set /a pinglooptimeout=%pinglooptimeout%+1&#xd;
ping 1.0.0.1 -n 1 -w 60000 &gt; nul&#xd;
goto pingloopstart&#xd;
)&#xd;
&#xd;
echo cleaning old log under C:\EggPlant report older than 7 days&#xd;
forfiles -p &quot;C:\ATELogs&quot; -d -7 -c &quot;cmd /c IF @isdir == TRUE rd /S /Q @path&quot;&#xd;
&#xd;
cd C:\RunScript&#xd;
RunScriptsFromFolder.exe &quot;%TestSuitePath%&quot; &quot;%TestSuite%.csv&quot; &quot;%SimulatorEngine%&quot; &quot;%product%&quot; &quot;%TEST_ID%&quot; &quot;%SCRIPT_NUMBER%&quot; &quot;%BUILD_VERSION%&quot; &quot;%PublishToTestRail%&quot;&#xd;
if not %errorlevel%==0 (&#xd;
echo Run RunScriptsFromFolder failed&#xd;
goto error&#xd;
)&#xd;
&#xd;
goto end&#xd;
:error&#xd;
echo Run Sanity test on %SimulatorEngine% failed.&#xd;
exit /b 1&#xd;
:end&#xd;
&#xd;
</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher plugin="flexible-publish@0.15.2">
      <publishers>
        <org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
          <condition class="org.jenkins_ci.plugins.run_condition.core.StatusCondition" plugin="run-condition@1.0">
            <worstResult>
              <name>SUCCESS</name>
              <ordinal>0</ordinal>
              <color>BLUE</color>
              <completeBuild>true</completeBuild>
            </worstResult>
            <bestResult>
              <name>SUCCESS</name>
              <ordinal>0</ordinal>
              <color>BLUE</color>
              <completeBuild>true</completeBuild>
            </bestResult>
          </condition>
          <publisherList>
            <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.4.1">
              <script plugin="script-security@1.44">
                <script>if (manager.logContains(&quot;.*Unable to contact Team License Server.*&quot;)){
    manager.listener.logger.println(&quot;Error: License not avilable&quot;);
    manager.buildFailure()
}else {
   if (manager.logContains((&quot;.*Errors:\&quot;[1-9][0-9]*\&quot;.*&quot;))){
       manager.listener.logger.println(&quot;Error: execution contains sanity tests errors. Build will be marked as UNSTABLE&quot;);
       manager.buildUnstable()
   }
}</script>
                <sandbox>false</sandbox>
              </script>
              <behavior>0</behavior>
              <runForMatrixParent>false</runForMatrixParent>
            </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
          </publisherList>
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
          <executionStrategy class="org.jenkins_ci.plugins.flexible_publish.strategy.FailAtEndExecutionStrategy"/>
        </org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
      </publishers>
    </org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.10"/>
    <EnvInjectBuildWrapper plugin="envinject@1.90">
      <info>
        <propertiesContent>ATEConfigPath=\\isr1vmappcm01\Automated_Testing\Install files</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>