<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Khalifer, Alex</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>GNvbqFfQkMtvfJsxvOBFnK6/EsXIQLJ9WTwi4UU+Pxc86Lsij/hJkPumjTG5eUGU</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.28">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.52">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.openid.OpenIdUserProperty plugin="openid@2.1.1">
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.17">
      <emailAddress>Alex.Khalifer@kla-tencor.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>