<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.23">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.3.1"/>
    <io.jenkins.blueocean.service.embedded.BlueOceanUrlAction plugin="blueocean-rest-impl@1.6.2">
      <blueOceanUrlObject class="io.jenkins.blueocean.service.embedded.BlueOceanUrlObjectImpl">
        <mappedUrl>blue/organizations/jenkins/ATETestsPipeline</mappedUrl>
      </blueOceanUrlObject>
    </io.jenkins.blueocean.service.embedded.BlueOceanUrlAction>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.3.1">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>TestsArray</string>
        <string>BUILD_VERSION</string>
        <string>PublishToTestRail</string>
        <string>BUILDTYPE</string>
        <string>RunNunitTests</string>
      </parameters>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_VERSION</name>
          <description>What is the Archer build version you want to test? 
 example: 17.12.00.20600</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILDTYPE</name>
          <description>What is your build type?</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Tasks</string>
              <string>Formal</string>
              <string>Scheduled</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>TestsArray</name>
          <description>What tests needs to run and in which confgurations? 
 example: [[SuiteName,SuitePath,ToolType,ATEControllerMachineLabel,SimulatorEngineMachineLabel,BaseImagePath,BaseImageName,ATEScriptsPath]]</description>
          <trim>false</trim>
        </hudson.model.TextParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RunNunitTests</name>
          <description>Should Nunit intergration tests be executed?</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>PublishToTestRail</name>
          <description>Should sanity results be published to TestRail system?</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@2.0.1">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.54">
    <script>//This list is used to save nodes which were already alocated by one of the tests so that tests will be spreaded to diffrent nodes 
allocated_nodes=[]

pipeline {
agent { node { label &apos;master&apos; } }
parameters {
        string(description: &apos;What is the Archer build version you want to test? \n example: 17.12.00.20600&apos;, name: &apos;BUILD_VERSION&apos;)
        choice(choices: &apos;Tasks\nFormal\nScheduled&apos;, description: &apos;What is your build type?&apos;, name: &apos;BUILDTYPE&apos;)
        text(description: &apos;What tests needs to run and in which confgurations? \n example: [[SuiteName,SuitePath,ToolType,ATEControllerMachineLabel,SimulatorEngineMachineLabel,BaseImagePath,BaseImageName,ATEScriptsPath]]&apos;, name: &apos;TestsArray&apos;)
        booleanParam(name: &apos;RunNunitTests&apos;, defaultValue: false, description: &apos;Should Nunit intergration tests be executed?&apos;)
		booleanParam(name: &apos;PublishToTestRail&apos;, defaultValue: false, description: &apos;Should sanity results be published to TestRail system?&apos;)
		
    }

    stages {
        stage (&quot;Run ATE Tests&quot;){
            
            steps{
                script{
                    //Delete new line characters and read all test arrays 
                    def stringMap= params.TestsArray.replaceAll(&quot;[\n\r]&quot;, &quot;&quot;).replaceAll(&apos;^\\[|\\]$&apos;,&apos;&apos;)
                    //send all test arrays to processing
                    runparalleltests(stringMap)
                }
                
            }
        }
    }

}
// Run multiple ATE tests
def runparalleltests(AUT_Tests){
//Define &apos;Auto Deploy Sanity&apos; tests exection list
def ate_tests = [:]
//For symantic
def index=0
def masternode=&quot;master&quot;
def buildversion= params.BUILD_VERSION
def ate_MajorMinor_Ver=&quot;&quot;
if(params.BUILD_VERSION!=&quot;&quot;) ate_MajorMinor_Ver =buildversion.substring(0,5)
//Read each test details and creation a job trigger to AutoDeploy Sanity flow with with the given details
AUT_Tests.tokenize(&apos;;&apos;).each{    
                    testDetails = it.replaceAll(&apos;^\\[|\\]$&apos;,&apos;&apos;).tokenize(&apos;,&apos;)
                    def test_suite_name = testDetails[0]
					def test_suite_path = testDetails[1]
					def tool_type = testDetails[2]
					def ate_controller_engine_label = testDetails[3]
					def simulator_engine_label = testDetails[4]
					def base_image_path = testDetails[5]
					def base_image = testDetails[6]
					def ate_scripts_path = testDetails[7]

  ate_tests[&quot;${index}. Test ${test_suite_name} for ${tool_type}&quot;] = {
    build job:&quot;RunTestSuite&quot;,parameters: [
      booleanParam(name: &apos;RunNunitTests&apos;, value:params.RunNunitTests),
	  booleanParam(name: &apos;PublishToTestRail&apos;, value:params.PublishToTestRail),
      booleanParam(name: &apos;RestoreAndReinstall&apos;, value:true),
      string(name: &apos;BUILD_VERSION&apos;, value:params.BUILD_VERSION),
	  string(name: &apos;BaseImage&apos;, value:base_image),
	  string(name:&apos;ToolType&apos;,value:tool_type),
	  string(name:&apos;BUILDTYPE&apos;,value:params.BUILDTYPE),
	  string(name: &apos;BaseImagePath&apos;, value:base_image_path),
	  string(name: &apos;TestSuite&apos;, value:test_suite_name),
	  string(name: &apos;MajorMinor_Ver&apos;, value:ate_MajorMinor_Ver),
	  [$class: &apos;NodeParameterValue&apos;, name: &apos;FlowController&apos;, labels: [&quot;${masternode}&quot;], nodeEligibility: [$class: &apos;AllNodeEligibility&apos;]],
	  [$class: &apos;NodeParameterValue&apos;, name: &apos;ATEControllerEngine&apos;, labels: [&quot;${ate_controller_engine_label}&quot;], nodeEligibility: [$class: &apos;AllNodeEligibility&apos;]],
      [$class: &apos;NodeParameterValue&apos;, name: &apos;SimulatorEngine&apos;, labels: [&quot;${simulator_engine_label}&quot;], nodeEligibility: [$class: &apos;AllNodeEligibility&apos;]]]

  }
  index++
}
  //Executing all tests in parallel
parallel ate_tests

}

/**
 * This function will get label name and return a &apos;Free node&apos; labeled with this label. 
 * &apos;Free node&apos; is a node which wasn&apos;t selected for executing a test yet and has free executer
 * */
 /** Code blocked since of moving to use RunTestSuite job
@NonCPS
def getNodePerLabel(String label){
    //read all nodes labels with given label
    def labelNodes=Jenkins.getInstance().getLabel(label)
    def nodes=labelNodes.getNodes()
    def nodeName=null
    //iterating nodes to select free one for execution
    for (node in nodes) {
        //exclude Offline nodes
        if (!node.getComputer().isOffline()){
                 //Select nodes which has free executers and which wasn&apos;t already selected by any of the current execution tests
                if ((node.getComputer().getNumExecutors()-node.getComputer().countBusy() &gt;0) &amp;&amp; !(node.getNodeName() in allocated_nodes)){
                    nodeName=node.getNodeName()
                    //Update global list for that node was selected for execution
                    allocated_nodes &lt;&lt; nodeName
                    break;
                }
             }
    }
    //In case there is no nodes with free execution, take last selected node (test will be pending till once of the node executers released)
    if (nodeName == null)
        nodeName=nodes[0].getNodeName();
    return nodeName
}**/

</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>