<?xml version='1.0' encoding='UTF-8'?>
<com.amdocs.hudson.plugins.flow.FlowProject plugin="flow@16.3">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>10</maxConcurrentPerNode>
      <maxConcurrentTotal>10</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>true</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>StartingStep</name>
          <description>The flow will start from the specified step</description>
          <choices>
            <string>BUILD</string>
            <string>PACKAGING</string>
            <string>INSTALLATION</string>
            <string>SANITY</string>
            <string>MAT</string>
            <string>DOWNSTREAM</string>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>RunningMode</name>
          <description>The flow will start in the specified mode</description>
          <choices>
            <string>NORMAL</string>
            <string>DAILY</string>
            <string>WEEKLY</string>
            <string>DAILY_AND_WEEKLY</string>
            <string>MONTHLY</string>
            <string>DAILY_AND_MONTHLY</string>
            <string>WEEKLY_AND_MONTHLY</string>
            <string>ALL</string>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>FlowController</name>
          <description></description>
          <allowedSlaves>
            <string>master</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>master</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>AcronisEngine</name>
          <description></description>
          <allowedSlaves>
            <string>master</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>master</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BaseImage</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>SimulatorEngine</name>
          <description></description>
          <allowedSlaves>
            <string>ALL (no restriction)</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>SCM-SIM7050-01</string>
          </defaultSlaves>
          <triggerIfResult>allowMultiSelectionForConcurrentBuilds</triggerIfResult>
          <allowMultiNodeSelection>true</allowMultiNodeSelection>
          <triggerConcurrentBuilds>true</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_VERSION</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Auto_Deploy_Sanity</name>
          <description></description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BaseImagePath</name>
          <description></description>
          <defaultValue>D:\BaseImage</defaultValue>
        </hudson.model.StringParameterDefinition>
        <org.biouno.unochoice.DynamicReferenceParameter plugin="uno-choice@2.0">
          <name>MajorMinor_Ver</name>
          <description></description>
          <randomName>choice-parameter-313186242246989</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1.39">
              <script>String major_min=BUILD_VERSION.substring(0,BUILD_VERSION.indexOf(&quot;.&quot;,3))
return &quot;&lt;input name=\&quot;value\&quot; value=\&quot;${major_min}\&quot; class=\&quot;setting-input\&quot; type=\&quot;text\&quot;&gt;&quot;</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1.39">
              <script>String major_min=BUILD_VERSION.substring(0,BUILD_VERSION.indexOf(&quot;.&quot;,3))
return &quot;&lt;input name=\&quot;value\&quot; value=\&quot;${major_min}\&quot; class=\&quot;setting-input\&quot; type=\&quot;text\&quot;&gt;&quot;</script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>Auto Deploy Sanity</projectName>
          <parameters class="linked-hash-map"/>
          <referencedParameters>BUILD_VERSION</referencedParameters>
          <choiceType>ET_FORMATTED_HTML</choiceType>
          <omitValueField>true</omitValueField>
        </org.biouno.unochoice.DynamicReferenceParameter>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILDTYPE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Tasks</string>
              <string>Formal</string>
              <string>Scheduled</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>ToolType</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Archer700</string>
              <string>Archer600</string>
              <string>Archer TL</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CheckSimTimeout</name>
          <description>(min)</description>
          <defaultValue>180</defaultValue>
        </hudson.model.StringParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>ATEControllerEngine</name>
          <description></description>
          <allowedSlaves>
            <string>SCM-ATE-01</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>SCM-ATE-01</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TestSuite</name>
          <description>Full file name, XXXXX.csv</description>
          <defaultValue>AROL_Autorun_ATE_Suite</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TestSuitePath</name>
          <description>Start with X:</description>
          <defaultValue>X:\ATE\TestCases\SQC\MBS\AROL</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ATEBasePath</name>
          <description></description>
          <defaultValue>\\isr1vmappcm01\Automated_Testing\17.0x_ATE</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders/>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.39">
        <script>import hudson.model.*
def build = Thread.currentThread().executable
def buildversion= build.getEnvVars().get(&quot;BUILD_VERSION&quot;)
def tooltype= build.getEnvVars().get(&quot;ToolType&quot;)
def suite=build.getEnvVars().get(&quot;TestSuite&quot;)
def simulator=build.getEnvVars().get(&quot;SimulatorEngine&quot;)
def resulthtml= new File(&apos;C:\\Temp\\TestResult_&apos;+buildversion+&apos;_&apos;+tooltype+&apos;.html&apos;)
resulthtml.write &apos;&lt;tr&gt;&lt;td&gt;&lt;b&gt;&apos;+ build.result.toString() +&apos;  Running &apos;+suite+ &apos; of &apos; +buildversion +&apos; &apos;+tooltype +&apos; on &apos; + simulator+&apos;&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/br&gt;&apos;</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>0</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
          </configs>
          <projects>UnlockSimulator-Agnes</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.9"/>
  </buildWrappers>
  <flowDefinitionId>-1</flowDefinitionId>
  <globalEnvVars>
    <entry>
      <string>MajorMinor_Ver</string>
      <string></string>
    </entry>
    <entry>
      <string>AcronisEngine</string>
      <string></string>
    </entry>
    <entry>
      <string>BaseImagePath</string>
      <string></string>
    </entry>
    <entry>
      <string>TestSuitePath</string>
      <string></string>
    </entry>
    <entry>
      <string>BUILDTYPE</string>
      <string></string>
    </entry>
    <entry>
      <string>ATEControllerEngine</string>
      <string></string>
    </entry>
    <entry>
      <string>ATEBasePath</string>
      <string></string>
    </entry>
    <entry>
      <string>TestSuite</string>
      <string></string>
    </entry>
    <entry>
      <string>BaseImage</string>
      <string></string>
    </entry>
  </globalEnvVars>
  <profiler class="com.amdocs.hudson.plugins.dbprofiler.DBProfiler"/>
  <jobParameterList class="java.util.concurrent.CopyOnWriteArrayList">
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>SetFlowController</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>BUILD</step>
      <appServerType></appServerType>
      <platform></platform>
      <triggersFlag>false</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>false</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>RestorageImage-Agnes</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>INSTALLATION</step>
      <dependencyJobList class="java.util.concurrent.CopyOnWriteArrayList">
        <com.amdocs.hudson.plugins.flow.DependencyJob>
          <dependencyJobName>SimLockCheck-Agnes</dependencyJobName>
        </com.amdocs.hudson.plugins.flow.DependencyJob>
      </dependencyJobList>
      <appServerType>Tomcat</appServerType>
      <platform>Windows</platform>
      <triggersFlag>false</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>false</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>SilentInstallation-Agnes</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>INSTALLATION</step>
      <dependencyJobList class="java.util.concurrent.CopyOnWriteArrayList">
        <com.amdocs.hudson.plugins.flow.DependencyJob>
          <dependencyJobName>RestorageImage-Agnes</dependencyJobName>
        </com.amdocs.hudson.plugins.flow.DependencyJob>
      </dependencyJobList>
      <appServerType>Tomcat</appServerType>
      <platform>Windows</platform>
      <triggersFlag>false</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>false</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>SimLockCheck-Agnes</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>INSTALLATION</step>
      <appServerType>Tomcat</appServerType>
      <platform>Windows</platform>
      <triggersFlag>false</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>false</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
    <com.amdocs.hudson.plugins.flow.JobParameter>
      <jobName>SanityTest-Agnes</jobName>
      <continueJobIfUnstable>false</continueJobIfUnstable>
      <continueJobIfAborted>false</continueJobIfAborted>
      <continueJobAnyway>false</continueJobAnyway>
      <overrideJobNode>false</overrideJobNode>
      <specifyModule>false</specifyModule>
      <step>SANITY</step>
      <dependencyJobList class="java.util.concurrent.CopyOnWriteArrayList">
        <com.amdocs.hudson.plugins.flow.DependencyJob>
          <dependencyJobName>SilentInstallation-Agnes</dependencyJobName>
        </com.amdocs.hudson.plugins.flow.DependencyJob>
      </dependencyJobList>
      <appServerType>Tomcat</appServerType>
      <platform>Windows</platform>
      <triggersFlag>false</triggersFlag>
      <triggers>
        <dailyTriggerFlag>false</dailyTriggerFlag>
        <weeklyTriggerFlag>false</weeklyTriggerFlag>
        <monthlyTriggerFlag>false</monthlyTriggerFlag>
      </triggers>
    </com.amdocs.hudson.plugins.flow.JobParameter>
  </jobParameterList>
  <createNodesDef/>
  <allowConcurrentFlow>true</allowConcurrentFlow>
  <concurrentFlowCanStartAfterStep>BUILD</concurrentFlowCanStartAfterStep>
  <allowDeleteProjects>true</allowDeleteProjects>
  <preventFromExecutingJobs>false</preventFromExecutingJobs>
  <executeConcurrentFlowAnyway>true</executeConcurrentFlowAnyway>
  <shareParameters>true</shareParameters>
  <smartRebuild>false</smartRebuild>
  <rebuildFromFailuresWithoutParam>false</rebuildFromFailuresWithoutParam>
  <mode>ALL</mode>
  <showHide>HIDE</showHide>
</com.amdocs.hudson.plugins.flow.FlowProject>