<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.23">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.3.1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.3.1">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>Version</string>
        <string>CompitableRDMVersion</string>
        <string>Comments</string>
        <string>A700</string>
        <string>ATL</string>
        <string>A600</string>
      </parameters>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Version</name>
          <description>Which Version you want to release?</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>A600</name>
          <description>Released For Tool Type</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>A700</name>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ATL</name>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Comments</name>
          <description>What is your comments?</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CompitableRDMVersion</name>
          <description>Leave it with empty if no special RDM version</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@2.0.1">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.54">
    <script>pipeline {
    agent any
    parameters {
        string(name: &apos;Version&apos;, description: &apos;Which Version you want to release?&apos;)
        booleanParam(name: &apos;A600&apos;, defaultValue: false, description: &apos;Released For Tool Type&apos;)
        booleanParam(name: &apos;A700&apos;, defaultValue: false)
        booleanParam(name: &apos;ATL&apos;, defaultValue: false)
        string(name: &apos;Comments&apos;, description: &apos;What is your comments?&apos;)
		string(name: &apos;CompitableRDMVersion&apos;, description: &apos;Leave it with empty if no special RDM version&apos;)

    }
	stages {
	    
	    stage (&apos;validation&apos;) {
            steps (&apos;vaiidate&apos;) {
	                script{
	                if(params.Version==&quot;&quot;){
	                    msg=&quot;Version is not defined&quot;
    				    input(message:msg ,ok:&apos;Abort&apos;)
    					throw new Exception(msg)
	                }
	                if(params.A600==false&amp;&amp;params.A700==false&amp;&amp;params.ATL==false){
	                    msg=&quot;Released tool type is empty, at least you are releasing for one tool type&quot;
    				    input(message:msg ,ok:&apos;Abort&apos;)
    					throw new Exception(msg)
                    }
                }
            }
	    }
	    stage (&apos;tooltype Process&apos;) {
	        steps (&apos;tooltypes Process&apos;) {
	            script {
	                if(params.A600) {
	                   A600input=input (
	                        id:&apos;A600input&apos;,
                             message:&apos;About A600?&apos;,
                             ok:&apos;Continue.&apos;,
                             parameters: 
                             [[$class:&apos;BooleanParameterDefinition&apos;,name: &apos;A600SRN&apos;, defaultValue: true, description: &apos;Does it have SRN?&apos;],
                             [$class:&apos;BooleanParameterDefinition&apos;,name: &apos;A600Web&apos;, defaultValue: false, description: &apos;will it be publish on Web?&apos;],
                             [$class: &apos;TextParameterDefinition&apos;,name: &apos;A600Customer&apos;,defaultValue: &apos;All&apos;, description: &apos;Which Customer will be released to?&apos;]]
	                    )
	                    env.A600SRN = A600input.A600SRN
	                    env.A600Web = A600input.A600Web
	                    env.A600Customer = A600input.A600Customer
	                }
	                if(params.A700) {
	                   A700input=input (
	                       id:&apos;A700input&apos;,
                             message:&apos;About A700?&apos;,
                             ok:&apos;Continue.&apos;,
                             parameters: 
                              [[$class:&apos;BooleanParameterDefinition&apos;,name: &apos;A700SRN&apos;, defaultValue: true, description: &apos;Does it have SRN?&apos;],
                             [$class:&apos;BooleanParameterDefinition&apos;,name: &apos;A700Web&apos;, defaultValue: false, description: &apos;will it be publish on Web?&apos;],
                             [$class: &apos;TextParameterDefinition&apos;,name: &apos;A700Customer&apos;,defaultValue: &apos;All&apos;, description: &apos;Which Customer will be released to?&apos;]]
	                    )
	                    env.A700SRN = A700input.A700SRN
	                    env.A700Web = A700input.A700Web
	                    env.A700Customer = A700input.A700Customer
	                }
	                if(params.ATL) {
	                    ATLinput=input (
	                        id:&apos;ATLinput&apos;,
                             message:&apos;About ATL?&apos;,
                             ok:&apos;Continue.&apos;,
                             parameters: 
                               [[$class:&apos;BooleanParameterDefinition&apos;,name: &apos;ATLSRN&apos;, defaultValue: true, description: &apos;Does it have SRN?&apos;],
                             [$class:&apos;BooleanParameterDefinition&apos;,name: &apos;ATLWeb&apos;, defaultValue: false, description: &apos;will it be publish on Web?&apos;],
                             [$class: &apos;TextParameterDefinition&apos;,name: &apos;ATLCustomer&apos;,defaultValue: &apos;All&apos;, description: &apos;Which Customer will be released to?&apos;]]
	                    )
	                    env.ATLSRN = ATLinput.ATLSRN
	                    env.ATLWeb = ATLinput.ATLWeb
	                    env.ATLCustomer = ATLinput.ATLCustomer
	                }
	                
	            }
	        }
	        
	    }
        stage (&apos;Process Parameter&apos;) {
		    steps (&apos;Parameter&apos;){
		        script {
		            shortversion=params.Version.substring(0,8)
					majorminor=params.Version.substring(0,5)
					RDMVersion=params.CompitableRDMVersion==&quot;&quot;?params.Version:params.CompitableRDMVersion
		            tooltype=(params.A600?&quot; A600&quot;:&quot;&quot;)+(params.A700?&quot; A700&quot;:&quot;&quot;)+(params.ATL?&quot; ATL&quot;:&quot;&quot;) 
		            toolSRN=(env.A600SRN&amp;&amp;params.A600?&quot; A600&quot;:&quot;&quot;)+(env.A700SRN&amp;&amp;params.A700?&quot; A700&quot;:&quot;&quot;)+(env.ATLSRN&amp;&amp;params.ATL?&quot; ATL&quot;:&quot;&quot;) 
		            publishweb=(params.A600?(env.A600Web?&quot; A600: Will be published on Web.&lt;/br&gt;&quot;:&quot;A600: No Web publish.&lt;/br&gt;&quot;):&quot;&quot;)+(params.A700?(env.A700Web?&quot; A700: Will be published on Web.&lt;/br&gt;&quot;:&quot;A700: No Web publish.&lt;/br&gt;&quot;):&quot;&quot;)+(params.ATL?(env.ATLWeb?&quot; ATL: Will be published on Web.&lt;/br&gt;&quot;:&quot;ATL: No Web publish.&lt;/br&gt;&quot;):&quot;&quot;)
					customer=(params.A600?&quot;A600:&quot;+env.A600Customer+&quot;&lt;/br&gt;&quot;:&quot;&quot;)+(params.A700?&quot;A700:&quot;+env.A700Customer+&quot;&lt;/br&gt;&quot;:&quot;&quot;)+(params.ATL?&quot;ATL:&quot;+env.ATLCustomer+&quot;&lt;/br&gt;&quot;:&quot;&quot;) 
					mailgroup=(params.A600?&quot;Agnes.Zhang@kla-tencor.com;&quot;:&quot;&quot;)+(params.A700?&quot;Adham.Saffori@kla-tencor.com;&quot;:&quot;&quot;)
					
					string masterimage=&quot;&lt;/br&gt;&quot;
					if(params.A600)	masterimage+=new File(&quot;\\\\klasj\\ktfiles\\Regions\\Israel\\SWGRP\\OMDSWImages3\\A600.txt&quot;).text+&quot;&lt;/br&gt;&quot;
					if(params.A700)	masterimage+=new File(&quot;\\\\klasj\\ktfiles\\Regions\\Israel\\SWGRP\\OMDSWImages3\\A700.txt&quot;).text+&quot;&lt;/br&gt;&quot;
					if(params.ATL)	masterimage+=new File(&quot;\\\\klasj\\ktfiles\\Regions\\Israel\\SWGRP\\OMDSWImages3\\ATL.txt&quot;).text+&quot;&lt;/br&gt;&quot;
					
					def buildnotice= &quot;\\\\isr1appcc02\\Views\\OMD\\OMD-UN_&quot;+majorminor+&quot;\\UOMD_BLD_&quot;+params.Version+&quot;_code&quot;+ &quot;/OMD_Builds/JenkinsBuild/Instructions/InstallationInstruction.html&quot;;
	                def buildnoticefile = new File(buildnotice)
					if(buildnoticefile.exists()){
                		string phoenixversion=&quot;SW &quot;+shortversion+&quot; requires upgrade of the Handler SW to Phoenix SWV V&quot;
                		echo &quot;found the buildnotice file&quot;				
                		builtnoticecontent=buildnoticefile.readLines()
                		for(String line : builtnoticecontent){
                			if(line.contains(&quot;&gt;Phoenix&lt;&quot;)){
                			 string subline=line.substring(line.indexOf(&quot;&lt;TD&gt;&quot;)+4,line.length()-5)
                			 phoenixversion+=subline
                
                			continue
                			}
                		  }
                	}
					
		            def thirdpartyism= &quot;\\\\isr1appcc02\\Views\\OMD\\OMD-UN_&quot;+majorminor+&quot;\\UOMD_BLD_&quot;+params.Version+&quot;_code&quot;+ &quot;/Installation/Archer_Family/Installshield/Archer_SW_Installation/uArcherThirdPartyInstallation/ThirdPartySetup.ism&quot;;
	                def thirdparty
	                thirdparty= new File(thirdpartyism)
					
                	if(thirdparty.exists()){
                		string thirdpartyversion=&quot;&lt;table&gt;&quot;
                		echo &quot;found the third party ism file&quot;				
                		thirdpartycontent=thirdparty.readLines()
                		for(String line : thirdpartycontent){
                			if(line.contains(&quot;PATH_TO_ARCHER_INSTALLATION&amp;gt;\\SupportFiles&quot;)||line.contains(&quot;PATH_TO_ARCHER_INSTALLATION&amp;gt;\\&amp;lt;ARCHER_VER2&amp;gt;\\SupportFiles&quot;)){
                			if(line.contains(&quot;Disk&quot;))continue
                			 string subline=line.substring(line.indexOf(&quot;SupportFiles\\&quot;)+13,line.length()-16).replaceAll(&quot;\\\\&quot;,&quot;&lt;//TD&gt;&lt;TD&gt;&quot;)
                			 thirdpartyversion+=&quot;&lt;TR&gt;&lt;TD&gt;&quot;+subline+&quot;&lt;/TD&gt;&lt;/TR&gt;&quot;
                            echo subline
                			continue
                			}
                		  }
                		 string thirdpartyversion+=&quot;&lt;//table&gt;&quot;
                	}
		            
		            echo thirdpartyversion
		            mailcontent=&quot;Archer SWV  ${shortversion}(${params.Version}) is released for ${tooltype}&lt;/br&gt;&quot;+
                    &quot;${params.Comments}&lt;/br&gt;&quot;+
                    &quot;&lt;strong&gt;&lt;u&gt;Tool SW&lt;/u&gt;&lt;/strong&gt;&lt;/br&gt;&quot;+
                    &quot;SWV ${params.Version} Installation kit is available in \\\\klasj\\ktfiles\\Regions\\Israel\\Eng\\Download\\uArcher_V${shortversion}\\Tool\\ArcherSWInsKIT_${params.Version}&lt;/br&gt;&quot;+
					&quot;Installation instructions are residing in Documentation folder&lt;/br&gt;&quot;+
                    &quot;${toolSRN} SRN is residing in Documentation folder.&lt;/br&gt;&quot;+
					&quot;&lt;/br&gt;&quot;+
					&quot;&lt;strong&gt;&lt;u&gt;Compatible RDM SW&lt;/u&gt;&lt;/strong&gt;&lt;/br&gt;&lt;/br&gt;&quot;+
					&quot;RDM ${shortversion} is available at \\\\klasj\\ktfiles\\Regions\\Israel\\Eng\\Download\\uArcher_V${shortversion}\\RDM\\RDM_${RDMVersion}&lt;/br&gt;&quot;+
					&quot;Installation instructions available in residing in Documentation folder.&lt;/br&gt;&quot;+
					&quot;&lt;/br&gt;&quot;+
					&quot;&lt;strong&gt;&lt;u&gt;Tool Config Utility&lt;/u&gt;&lt;/strong&gt;&lt;/br&gt;&quot;+
					&quot;Tool configuration utility can be found at  \\\\klasj\\ktfiles\\Regions\\Israel\\Eng\\Download\\uArcher_V${shortversion}\\Tool\\ArcherSWInsKIT_${params.Version}\\ToolConfiguration &lt;/br&gt;&quot;+
					&quot;&lt;/br&gt;&quot;+
					&quot;&lt;strong&gt;&lt;u&gt;Phoenix&lt;/u&gt;&lt;/strong&gt;&lt;/br&gt;&quot;+
					&quot;${phoenixversion}&lt;/br&gt;&quot;+
					&quot;Phoenix installation can be found in \\\\klasj\\ktfiles\\Regions\\Israel\\Eng\\Download\\uArcher_V${shortversion}\\Tool\\ArcherSWInsKIT_${params.Version}\\Phoenix&lt;/br&gt;&quot;+
					&quot;&lt;/br&gt;&quot;+
					&quot;&lt;strong&gt;&lt;u&gt;Latest master images are:&lt;/u&gt;&lt;/strong&gt;&lt;/br&gt;&quot;+
					&quot;${masterimage}&quot;+
					&quot;&lt;/br&gt;&lt;/br&gt;&quot;+
					&quot;&lt;strong&gt;&lt;u&gt;Publish on Web:&lt;/u&gt;&lt;/strong&gt;&lt;/br&gt;&quot;+
					&quot;${publishweb}&quot;+
					&quot;&lt;/br&gt;&quot;+
					&quot;&lt;strong&gt;&lt;u&gt;Customer:&lt;/u&gt;&lt;/strong&gt;&lt;/br&gt;&quot;+
					&quot;${customer}&quot;+
					&quot;&lt;/br&gt;&quot;+
					&quot;&lt;strong&gt;&lt;u&gt;Third Party Version:&lt;/u&gt;&lt;/strong&gt;&lt;/br&gt;&quot;+
					&quot;${thirdpartyversion}&quot;
					
		        }
		        emailext (to: &quot;Agnes.Zhang@KLA-tencor.com&quot;,
                subject: &quot;Archer SWV ${shortversion} (${params.Version}) is released for ${tooltype} --- for your reivew only&quot;,
                body: &quot;${mailcontent}&quot;);
		    }
        }
	     
	    stage (&apos;Send review&apos;) {
	        steps {
                echo &quot;Draft has been sent out for review&quot;
            }
		    input {
                message &quot;Is the mail content fine?&quot;
                ok &quot;Yes, we can release it&quot;
            }
            
        }
        stage (&apos;Send Mail&apos;) {
            steps (&apos;SendMail&apos;) {
		        emailext (to: &quot;${mailgroup}&quot;,
                subject: &quot;Archer SWV ${shortversion} (${params.Version}) is released for ${tooltype}&quot;,
                body: &quot;${mailcontent}&quot;);
		    }
        }
	}
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>