<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.23">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.3.1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.3.1">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>ATLCustomer</string>
        <string>Comments</string>
        <string>A700Customer</string>
        <string>A700</string>
        <string>A600Web</string>
        <string>A600</string>
        <string>A600SRN</string>
        <string>A700SRN</string>
        <string>Version</string>
        <string>A700Web</string>
        <string>ATLWeb</string>
        <string>ATLSRN</string>
        <string>ATL</string>
        <string>A600Customer</string>
      </parameters>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@2.0.1">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Version</name>
          <description>Who Version you want to release?</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Comments</name>
          <description>Who Version you want to release?</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>A600</name>
          <description>Released For Tool Type</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>A700</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ATL</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>A600-SRN</name>
          <description>Which Version has SRN?</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>A700-SRN</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ATL-SRN</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>A600-Web</name>
          <description>Which Version will be publish on Web?</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>A700-Web</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ATL-Web</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>A600-Customer</name>
          <description>Which Customer will be released to?</description>
          <defaultValue>All</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>A700-Customer</name>
          <description></description>
          <defaultValue>All</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ATL-Customer</name>
          <description></description>
          <defaultValue>All</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.54">
    <script>pipeline {
    agent any
    parameters {
        string(name: &apos;Version&apos;, description: &apos;Who Version you want to release?&apos;)
        string(name: &apos;Comments&apos;, description: &apos;Who Version you want to release?&apos;)
        booleanParam(name: &apos;A600&apos;, defaultValue: false, description: &apos;Released For Tool Type&apos;)
        booleanParam(name: &apos;A700&apos;, defaultValue: false)
        booleanParam(name: &apos;ATL&apos;, defaultValue: false)
        booleanParam(name: &apos;A600SRN&apos;, defaultValue: false, description: &apos;Which Version has SRN?&apos;)
        booleanParam(name: &apos;A700SRN&apos;, defaultValue: false)
        booleanParam(name: &apos;ATLSRN&apos;, defaultValue: false)
        booleanParam(name: &apos;A600Web&apos;, defaultValue: false, description: &apos;Which Version will be publish on Web?&apos;)
        booleanParam(name: &apos;A700Web&apos;, defaultValue: false)
        booleanParam(name: &apos;ATLWeb&apos;, defaultValue: false)
        string(name: &apos;A600Customer&apos;,defaultValue: &apos;All&apos;, description: &apos;Which Customer will be released to?&apos;)
        string(name: &apos;A700Customer&apos;,defaultValue:&apos;All&apos;)
        string(name: &apos;ATLCustomer&apos;,defaultValue: &apos;All&apos;) 
    }
	stages {
	    
    	    stage (&apos;validation&apos;) {
	            steps (&apos;vaiidate&apos;) {
    	                script{
    	                if(params.Version==&quot;&quot;){
    	                    msg=&quot;Version is not defined&quot;
        				    input(message:msg ,ok:&apos;Abort&apos;)
        					throw new Exception(msg)
    	                }
    	                if(params.A600==false$$params.A700==false&amp;&amp;params.ATL==false){
    	                    msg=&quot;Released tool type is empty, at least you are releasing for one tool type&quot;
        				    input(message:msg ,ok:&apos;Abort&apos;)
        					throw new Exception(msg)
	                    }
	                }
	            }
    	    }
	        stage (&apos;Process Parameter&apos;) {
			    steps (&apos;Parameter&apos;){
			        script {
			            shorversion=params.Version.substring(0,7)
			            tooltype=params.A600?&quot; A600&quot;:&quot;&quot;+params.A700?&quot; A700&quot;:&quot;&quot;+params.ATL?&quot; ATL&quot;:&quot;&quot; 
			            toolSRN=params.A600SRN&amp;&amp;params.A600?&quot; A600&quot;:&quot;&quot;+params.A700SRN&amp;&amp;params.A700?&quot; A700&quot;:&quot;&quot;+params.ATLSRN&amp;&amp;params.ATL?&quot; ATL&quot;:&quot;&quot; 
			            publishweb=params.A600Web&amp;&amp;params.A600?&quot; A600: Will be published on Web. /n&quot;:&quot;A600: No Web publish&quot;+params.A700Web&amp;&amp;params.A700?&quot;A700: Will be published on Web. /n&quot;:&quot;A700: No Web publish&quot;+params.ATLWeb&amp;&amp;params.ATL?&quot;ATL: Will be published on Web. /n&quot;:&quot;ATL: No Web publish&quot;
			            
			        }
			    }
	        }
	        
	        stage (&apos;Send Mail&apos;) {
	                steps (&apos;SendMail&apos;) {
				        emailext (to: &quot;Agnes.Zhang@KLA-tencor.com&quot;,
                        subject: &quot;Archer SWV ${shortversion} (${params.Version}) is released for ${tooltype}&quot;,
                        body: &quot;Archer SWV  ${shortversion} ${params.Version} is released for ${tooltype}&lt;/br&gt;&quot;+
                        &quot;${params.Comments}&lt;/br&gt;&quot;+
                        &quot;&lt;strong&gt;&lt;u&gt;Tool SW&lt;u&gt;&lt;strong&gt;&lt;/br&gt;&quot;+
                        &quot;SWV ${params.Version} Installation kit is available in \\\\klasj\\ktfiles\\Regions\\Israel\\Eng\\Download\\uArcher_V${shortverseion}\\Tool\\ArcherSWInsKIT_${params.Version}&quot;
                        );
				    }
	        }
	}
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>