<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.23">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.3.1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.3.1">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>A600-Web</string>
        <string>ATL-Customer</string>
        <string>A700</string>
        <string>A600-SRN</string>
        <string>A600</string>
        <string>ATL-SRN</string>
        <string>A700-Customer</string>
        <string>ATL-Web</string>
        <string>A600-Customer</string>
        <string>Version</string>
        <string>A700-Web</string>
        <string>ATL</string>
        <string>A700-SRN</string>
      </parameters>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@2.0.1">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Version</name>
          <description>Who Version you want to release?</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>A600</name>
          <description>Released For Tool Type</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>A700</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ATL</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>A600-SRN</name>
          <description>Which Version has SRN?</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>A700-SRN</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ATL-SRN</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>A600-Web</name>
          <description>Which Version will be publish on Web?</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>A700-Web</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ATL-Web</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>A600-Customer</name>
          <description>Which Customer will be released to?</description>
          <defaultValue>All</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>A700-Customer</name>
          <description></description>
          <defaultValue>All</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ATL-Customer</name>
          <description></description>
          <defaultValue>All</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.54">
    <script>pipeline {
    agent any
    parameters {
        string(name: &apos;Version&apos;, description: &apos;Who Version you want to release?&apos;)
        booleanParam(name: &apos;A600&apos;, defaultValue: false, description: &apos;Released For Tool Type&apos;)
        booleanParam(name: &apos;A700&apos;, defaultValue: false)
        booleanParam(name: &apos;ATL&apos;, defaultValue: false)
        booleanParam(name: &apos;A600-SRN&apos;, defaultValue: false, description: &apos;Which Version has SRN?&apos;)
        booleanParam(name: &apos;A700-SRN&apos;, defaultValue: false)
        booleanParam(name: &apos;ATL-SRN&apos;, defaultValue: false)
        booleanParam(name: &apos;A600-Web&apos;, defaultValue: false, description: &apos;Which Version will be publish on Web?&apos;)
        booleanParam(name: &apos;A700-Web&apos;, defaultValue: false)
        booleanParam(name: &apos;ATL-Web&apos;, defaultValue: false)
        string(name: &apos;A600-Customer&apos;,defaultValue: &apos;All&apos;, description: &apos;Which Customer will be released to?&apos;)
        string(name: &apos;A700-Customer&apos;,defaultValue:&apos;All&apos;)
        string(name: &apos;ATL-Customer&apos;,defaultValue: &apos;All&apos;) 
    }
	stages {
	        stage (&apos;Process Parameter&apos;) {
				    steps (&apos;MasterImage&apos;){
				        echo &quot;master Image are saved at:&quot;
				    }
	        }
	        stage (&apos;Send Mail&apos;) {
	                steps (&apos;SendMail&apos;) {
				        emailext (to: &quot;Agnes.Zhang@KLA-tencor.com&quot;,
                        subject: &quot;${params.Version} is released for A600&quot;,
                        body: &quot;Build is Released!&quot;);
				    }
	        }
	}
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>