<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This Job will use the BNG utility to genrate the build notes and share it by mail</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <inheritanceStrategy class="org.jenkinsci.plugins.matrixauth.inheritance.InheritParentStrategy"/>
      <permission>hudson.model.Item.Build:DL-Israel-OMD-ENG-SW</permission>
      <permission>hudson.model.Item.Cancel:DL-Israel-OMD-ENG-SW</permission>
      <permission>hudson.model.Item.Discover:DL-Israel-OMD-ENG-SW</permission>
      <permission>hudson.model.Item.ExtendedRead:DL-Israel-OMD-ENG-SW</permission>
      <permission>hudson.model.Item.Read:DL-Israel-OMD-ENG-SW</permission>
      <permission>hudson.model.Run.Replay:DL-Israel-OMD-ENG-SW</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@2.0.1">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_VERSION</name>
          <description>Build Version to be used the report default name and the email</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <org.biouno.unochoice.DynamicReferenceParameter plugin="uno-choice@2.1">
          <name>MajorMinor_Ver</name>
          <description></description>
          <randomName>choice-parameter-252401820114567</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1.44">
              <script>String major_min=BUILD_VERSION.substring(0,BUILD_VERSION.indexOf(&quot;.&quot;,3))
return &quot;&lt;input name=\&quot;value\&quot; value=\&quot;${major_min}\&quot; class=\&quot;setting-input\&quot; type=\&quot;text\&quot;&gt;&quot;</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1.44">
              <script>String major_min=BUILD_VERSION.substring(0,BUILD_VERSION.indexOf(&quot;.&quot;,3))
return &quot;&lt;input name=\&quot;value\&quot; value=\&quot;${major_min}\&quot; class=\&quot;setting-input\&quot; type=\&quot;text\&quot;&gt;&quot;</script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>CreateBuildNotes</projectName>
          <parameters class="linked-hash-map"/>
          <referencedParameters>BUILD_VERSION</referencedParameters>
          <choiceType>ET_FORMATTED_HTML</choiceType>
          <omitValueField>true</omitValueField>
        </org.biouno.unochoice.DynamicReferenceParameter>
        <hudson.model.StringParameterDefinition>
          <name>tStream</name>
          <description>Target stream to gather the changes from or to compare to. As :Archer_17.12_Integ or Archer_17.04_Integ</description>
          <defaultValue>Archer_${MajorMinor_Ver}_Integ</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>sStream</name>
          <description>Source stream to compare with. As :Archer_17.12_Dev or Archer_17.04_Dev&lt;br&gt;
If empty: compare will be done on the target stream only with latest changes against last snapshot there.</description>
          <defaultValue>Archer_${MajorMinor_Ver}_Dev</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ReportName</name>
          <description>The relevant name of the generated report</description>
          <defaultValue>Build_Notes_${BUILD_VERSION}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>recipientList</name>
          <description>comma seperated list of emails to get the generated build notes. As Adham.Saffori@kla-tencor.com Or groups of mails seperated by comma.</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CopyToShare</name>
          <description>Copy Build notes to Share folder, as \\isr1fp04\OMD_InternalBuildNotes\V17.12</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Format</name>
          <description>Build notes generated report format</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>csv</string>
              <string>html</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <EnvInjectJobProperty plugin="envinject@1.90">
      <info>
        <propertiesContent>emailGroupsDefFile=\\isr1appcc02\SCM\OMD\Jenkins_Build_conf_files\Email_Groups.txt
JENKINCONFIGPATH=\\isr1appcc02\SCM\OMD</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>::@Echo off&#xd;
set cmd_suffix=&quot;&quot;&#xd;
if NOT &quot;%sStream%&quot;==&quot;&quot; set cmd_suffix=-s %sStream%&#xd;
&#xd;
java -Dhttp.proxyHost=isr1vmrtcproxy01.kla-tencor.com -Dhttp.proxyPort=3128 -jar &quot;%BNG_PATH%\BNG.jar&quot; -acf &quot;%BNG_PATH%\Attributeconfig.xml&quot; -grf %Format% -r %repositoryAddress% -u %BuildUser% -p &quot;%BuildPass%&quot; -pa &quot;OMD NuArcher&quot; -rf %ReportName% -rp &quot;%WORKSPACE%&quot;  -tsw %tStream% %cmd_suffix%&#xd;
IF NOT &quot;%ERRORLEVEL%&quot; ==&quot;0&quot; Exit /b 1&#xd;
&#xd;
echo Copy=%CopyToShare%&#xd;
&#xd;
IF &quot;%CopyToShare%&quot;==&quot;true&quot; (&#xd;
   IF exist &quot;%WORKSPACE%\%ReportName%.%Format%&quot; (&#xd;
         xcopy &quot;%WORKSPACE%\%ReportName%.%Format%&quot; \\isr1fp04\OMD_InternalBuildNotes\V%MajorMinor_Ver%\&#xd;
   )&#xd;
   IF NOT &quot;%ERRORLEVEL%&quot; ==&quot;0&quot; (&#xd;
        Echo &quot;Failed to copy Build notes: &apos;%WORKSPACE%\%ReportName%&apos;  to network folder: &apos;\\isr1fp04\OMD_InternalBuildNotes\V%MajorMinor_Ver%&apos;&#xd;
        Exit /b 1&#xd;
   )&#xd;
)</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.62">
      <recipientList>${recipients_list},${BUILD_USER_EMAIL}</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
      </configuredTriggers>
      <contentType>text/html</contentType>
      <defaultSubject>${BUILD_VERSION} - Build Notes</defaultSubject>
      <defaultContent>Build ${BUILD_VERSION} is ready for build . Build notes attached&lt;br&gt;
For CSV build notes, to autoFit columns and rows:&lt;br&gt;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Open the file and press the following keyboard shortcuts:&lt;br&gt;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&gt; To AutoFit column width: Alt + H, then O, and then I&lt;br&gt;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&gt; To AutoFit row height: Alt + H, then O, and then A&lt;br&gt;</defaultContent>
      <attachmentsPattern>${ReportName}.${Format}</attachmentsPattern>
      <presendScript>if (build.result.toString().equals(&apos;SUCCESS&apos;) ){
  if (build.logFile.text.readLines().any { it =~ /.*does not contain any change set.*/ } || build.logFile.text.readLines().any { it =~ /.*No change sets for.*/ } )
  {
     content = (String)msg.getContent().getBodyPart(0).getContent()
     content = &quot;No new changes since last snapshot&quot;
     msg.setSubject(build.getEnvVars().get(&quot;BUILD_VERSION&quot;)+&quot; - Build Notes [No Changes]&quot;);
     msg.setText(content, null, &quot;html&quot;)
     msg.saveChanges() 
  } else {
    if (build.getEnvVars().get(&quot;CopyToShare&quot;) ==&quot;true&quot;) {
       content = (String)msg.getContent().getBodyPart(0).getContent()
       content += &quot;&lt;br&gt; Generated report was copied to \\\\isr1fp04\\OMD_InternalBuildNotes\\V&quot; +build.getEnvVars().get(&quot;MajorMinor_Ver&quot;)
     msg.setText(content, null, &quot;html&quot;)
     msg.saveChanges() 
    
   }
 }
}

if (build.result.toString().equals(&apos;FAILURE&apos;)) {
   msg.setSubject(build.getEnvVars().get(&quot;BUILD_VERSION&quot;)+&quot; - Build Notes [Failed]&quot;);
   content = (String)msg.getContent().getBodyPart(0).getContent()
   content = &quot;Build notes generation failed.Please check log, via: &quot;+build.getEnvVars().get(&quot;BUILD_URL&quot;)
   msg.setText(content, null, &quot;html&quot;)
   msg.saveChanges() 
}</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <from></from>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.34">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.10"/>
    <EnvInjectBuildWrapper plugin="envinject@1.90">
      <info>
        <propertiesFilePath>${JENKINCONFIGPATH}\Jenkins_Build_conf_files\Global_Env.properties</propertiesFilePath>
        <groovyScriptContent>//reading email reciepts
if (recipientList.contains(&quot;@&quot;)) {
     def map = [ &quot;recipients_list&quot;:recipientList]
     return 	map
}
def file = new File(emailGroupsDefFile)
def reciepts_list=&quot;&quot;;
  	if (file.exists()){
        //println &quot;Below is the content of the file ${file.absolutePath}&quot;
      def lineNo = 1
      def line
      file.withReader { reader -&gt;
         while ((line = reader.readLine())!=null) {
            if (line.trim() ==&quot;&quot;) continue;
            //println &quot;${lineNo}. ${line}&quot;
            lineNo++
            groupOwn=line.substring(0,line.indexOf(&quot;=&quot;))
            reciepts_list+=recipientList.contains(groupOwn) ? line.substring(line.indexOf(&quot;=&quot;)+1).trim():&quot;&quot;;
           
            reciepts_list=(!reciepts_list.trim().endsWith(&quot;,&quot;) &amp; !reciepts_list.trim().equals (&quot;&quot;)) ?reciepts_list.trim()+&quot;,&quot;:reciepts_list.trim()
           
         }
      }
		
    }
      	def map = [ &quot;recipients_list&quot;:reciepts_list]
	return 	map</groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
    <org.jenkinsci.plugins.builduser.BuildUser plugin="build-user-vars-plugin@1.5"/>
  </buildWrappers>
</project>