<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Zhang, Agnes</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwBCF+sPRT9X6NPchgnOkkQh+4XbBmWqSoQ5jLEycfz+/+MPXgJA2pgcGFx8g3sOPKK+BFnhiczd+oC6nq5cG3dg==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.openid.OpenIdUserProperty plugin="openid@2.1.1">
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.20">
      <emailAddress>Agnes.Zhang@kla-tencor.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.perforce.PerforceUserProperty plugin="perforce@1.3.35"/>
    <org.jenkinsci.plugins.readonly.UserConfiguration plugin="read-only-configurations@1.10">
      <displayForReadOnlyPermission>true</displayForReadOnlyPermission>
    </org.jenkinsci.plugins.readonly.UserConfiguration>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>ISR1NAS01-SW-OMD-CH</string>
        <string>New HIRE Group</string>
        <string>WIN-EEP-Reports_Customers-CH</string>
        <string>CA1-CTX-Portal-Users</string>
        <string>DPM_Users_Old</string>
        <string>DPM_Users</string>
        <string>Sng2nas04-KTS_Mfg_Eng_HCL_Support-RO</string>
        <string>Ca1nas05-WIN-Projects--M37Public-RO</string>
        <string>Isr1nas03-Viking-RO</string>
        <string>CA1-CTX-ALL-TEST</string>
        <string>PCS-Open-CH</string>
        <string>GSS Portal</string>
        <string>ZZZ-SRV-CHN2EX01</string>
        <string>WIN-DYSD-Field-Apps-CH</string>
        <string>OMD Nightly Build Recipients</string>
        <string>NewHireGroup-10-19</string>
        <string>WIN-DYSD-Tools-CH</string>
        <string>DL-ALL-Employees-SPA</string>
        <string>PLANTOPS_OPERATOR</string>
        <string>WIN-DYSD-Assignment-CH</string>
        <string>Ca1nas01-GlobalOpsJMP-CH</string>
        <string>WIN-DYSD-Picnic-RO</string>
        <string>WIN-DYSD-Demo_solutions-CH</string>
        <string>CA1NAS04-WINAPPSCommon-RO</string>
        <string>WIN-DYSD-IMPACT_met-RO</string>
        <string>CA1NAS05-WIN-SCM-Archive2-RO</string>
        <string>WIN-DYSD-ILM-CH</string>
        <string>DL-OMD-China-SQC</string>
        <string>Isr1nas03-CPG-SW-RO</string>
        <string>Austinnt1-Cleanroom-CH</string>
        <string>Ca1ucsfs01-EMIE-RO</string>
        <string>ca1fs01-Eric-R-Jong-CH</string>
        <string>DL-China-Engineering-SW</string>
        <string>ISR1FP04-CC6-CH</string>
        <string>DL-ALL-REGULAR-EMPLOYEES-SPA</string>
        <string>WIN-DYSD-ADCAlgorithm-CH</string>
        <string>CA1NAS12-SSCMdata-RO</string>
        <string>ISR1NAS01-SW-RO</string>
        <string>Ca1nas11-KT-Insight-Program-RO</string>
        <string>ISR1NAS03-FI_OMD-RO</string>
        <string>CA1NAS01-WINField-CH</string>
        <string>PasswordManager</string>
        <string>sfsade-vm6-Fab-Test-CH</string>
        <string>WIN-DYSD-IMPACT_Min-CH</string>
        <string>WIN-DYSD-Recipe-CH</string>
        <string>ISR1NAS01-SW-RMD-CH</string>
        <string>JazzUsers</string>
        <string>DL-China-Engineering</string>
        <string>Ca1nas11-Autodesk-RO</string>
        <string>MI Production KLA Mobile</string>
        <string>WIN-DYSD-Satellite_release-RO</string>
        <string>CA1SFSFP01-Integration-RO</string>
        <string>CA1NAS02-WIN-BFDATA-CH</string>
        <string>CA1NAS12-SSCMdata-CH</string>
        <string>DL-All-Shanghai</string>
        <string>DL-All-Asia</string>
        <string>Domain Users</string>
        <string>CA1NAS05-DYSD-RDS-Images-RO</string>
        <string>chn2vmtacit1-Engineering-CH</string>
        <string>ca1nas05-WIN-OpenShares-CH</string>
        <string>aspera-users-engineering-kti-omd</string>
        <string>Ca1nas05-WIN-Software-Blazer-RO</string>
        <string>CA1NAS02-WIN-APPS-VideoTraining-RO</string>
        <string>WIN-DYSD-ace-xp-recipe-CH</string>
        <string>Ca1nas11-Fast-AlgoOLSA-RO</string>
        <string>WIN-DYSD-IMPACT_meti-CH</string>
        <string>DL-SAP-GUI-740-Upgrade-Comm</string>
        <string>Shanghai Users</string>
        <string>ca1nas01-TWave-RO</string>
        <string>ISR1NAS01-UserDoc-RO</string>
        <string>WIN-DYSD-DRCEng-CH</string>
        <string>ca1fs01-KlearPoint-CH</string>
        <string>WIN-DYSD-Klarity-CH</string>
        <string>CA1NAS04-WIN-Software-RO</string>
        <string>WIN-DYSD-ftp-CH</string>
        <string>WIN-DYSD-STADB-CH</string>
        <string>Austinnt1-Austrain-CH</string>
        <string>CA1NAS02-SSCM-CH</string>
        <string>DL-All-China</string>
        <string>Ca1nas01-WINdownload-RO</string>
        <string>WIN-DYSD-SQATestData-CH</string>
        <string>WIN-EEP-Logs_Input_Customers-CH</string>
        <string>CA1NAS07-CPG-UNT-RO</string>
        <string>WIN-DYSD-Migration-CH</string>
        <string>CA1-CTX-KT-Employees</string>
        <string>DL-FaST-All</string>
        <string>Ca1fs01-MFG-RO</string>
        <string>Bel1nas01-legacy_swx-RO</string>
        <string>Ca1fs01-SS10K-info-RO</string>
        <string>Travel &amp; Expense</string>
        <string>WIN-DYSD-adc-plc-CH</string>
        <string>WIN-DYSD-Image-CH</string>
        <string>Ca1nas05-WIN-Software-Carrera-RO</string>
        <string>Ca1fs01-TN-analyzes-RO</string>
        <string>authenticated</string>
        <string>MI Production KLA AppConnect</string>
        <string>MI Production KLA O365 Mail</string>
        <string>WIN-DYSD-sepg-RO</string>
        <string>Twn1fp01-PCIDData-RO</string>
        <string>WIN-DYSD-WSODocs-CH</string>
        <string>ISR1NAS01-ToolsDataCollections-RO</string>
        <string>JPN1FS01-043-RO</string>
        <string>Delta-ws_MatchingMasterFiles-RO</string>
      </roles>
      <timestamp>1497857267132</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.1">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.1">
      <data class="concurrent-hash-map">
        <entry>
          <string>Old---Sanity Test</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Old---UnlockSimulator</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>OMD-Archer-Build-PatchBuild</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>TriggerAutoRebaseInteg</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Old---Silent Installation</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>SanityTest</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>AutoRebaseStream</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Old---SimLockCheck</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>RunNunitColdIntegTests</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>RestorageImage</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>RunNunitUnitTestsDebug</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>SilentInstallation</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>SimLockCheck</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Old---Restore Image</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
  </properties>
</user>