<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@2.0.1">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>CLEANUP_ACTION</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>preview</string>
              <string>delete</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Debug</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLEANUP_SCRIPT_LOCATION</name>
          <description></description>
          <defaultValue>D:\sandboxes\DONOT_DELETE_ADHAM\OMD_Builds\JenkinsBuild\Cleanup</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EXCLUDES_FILE</name>
          <description></description>
          <defaultValue>\\isr1appcc02\SCM\OMD\Jenkins_CleanupConfigurations\Cleanup_Excludes_list.txt</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ARCHER_BUILDS_URL</name>
          <description></description>
          <defaultValue>${NETWORKPATHROOT}\SW-OMD\Archer_Builds\uArcher_Builds\uArcher_*\Formal</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RDM_BUILDS_URL</name>
          <description></description>
          <defaultValue>${NETWORKPATHROOT}\SW-RDM\RDM_Builds\RDM_*\Formal</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ARCHER_INSTALLERS_URL</name>
          <description></description>
          <defaultValue>${NETWORKPATHROOT}\SW-OMD\Archer_Installations\NuArcher_V*\Formal</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RDM_INSTALLERS_URL</name>
          <description></description>
          <defaultValue>${NETWORKPATHROOT}\SW-RDM\RDM_Installations\RDM_*\Formal</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BLOSSOM_INSTALLERS_URL</name>
          <description></description>
          <defaultValue>${NETWORKPATHROOT}\SW-RDM\RDM_Installations\RDM_*\Formal\BlossomTDD</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CODEVIEW_URL</name>
          <description></description>
          <defaultValue>\\isr1appcc02\views\OMD\OMD-UN_*</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ARCHER_TASKS_BUILDS_URL</name>
          <description></description>
          <defaultValue>${NETWORKPATHROOT}\SW-OMD\Archer_Builds\uArcher_Builds\uArcher_*\Tasks</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RDM_TASKS_BUILDS_URL</name>
          <description></description>
          <defaultValue>${NETWORKPATHROOT}\SW-RDM\RDM_Builds\RDM_*\Tasks</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ARCHER_SCHEDULED_BUILDS_URL</name>
          <description></description>
          <defaultValue>${NETWORKPATHROOT}\SW-OMD\Archer_Builds\uArcher_Builds\uArcher_*\Scheduled</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RDM_SCHEDULED_BUILDS_URL</name>
          <description></description>
          <defaultValue>${NETWORKPATHROOT}\SW-RDM\RDM_Builds\RDM_*\Scheduled</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ARCHER_SCHEDULED_INSTALLERS_URL</name>
          <description></description>
          <defaultValue>${NETWORKPATHROOT}\SW-OMD\Archer_Installations\NuArcher_V*\Scheduled</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RDM_SCHEDULED_INSTALLERS_URL</name>
          <description></description>
          <defaultValue>${NETWORKPATHROOT}\SW-RDM\RDM_Installations\RDM_*\Scheduled</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BLOSSOM_SCHEDULED_INSTALLERS_URL</name>
          <description></description>
          <defaultValue>${NETWORKPATHROOT}\SW-RDM\RDM_Installations\RDM_*\Scheduled\BlossomTDD</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MailSubjectPrefix</name>
          <description>Mail subject</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MailBodyMessage</name>
          <description>Mail body message to descript the build list </description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MailAlertMessage</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Email_Recipient_List</name>
          <description></description>
          <defaultValue>DL-OMD-SW-SCOL@KLA-Tencor.com,DL-OMD-SW-Imaging@KLA-Tencor.com,DL-OMD-ENG-SCM@KLA-Tencor.com</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NETWORKPATHROOT</name>
          <description></description>
          <defaultValue>\\klasj\ktfiles\Regions\Israel\SWGRP</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>CleanUpEngine</name>
          <description></description>
          <allowedSlaves/>
          <defaultSlaves>
            <string>master</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
      <configVersion>1</configVersion>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>del C:\Temp\deletion_list_*.html</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>&#xd;
ECHO Changing directory to: %CLEANUP_SCRIPT_LOCATION%&#xd;
Set Debug_Flag=&quot;&quot;&#xd;
IF &quot;%Debug%&quot; EQU &quot;true&quot; SET Debug_Flag=&quot;--debug&quot;&#xd;
cd /d %CLEANUP_SCRIPT_LOCATION%&#xd;
&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO +++++++++++++++++++++ Cleanning Archer Build Outputs - Started +++++++++++++++++++++&#xd;
py cleanup.py -p %ARCHER_BUILDS_URL% -r UOMD_[1-9][6-9].*.*.[1-2]*00_Release  --keeplast 4  --action=%CLEANUP_ACTION%  --excludesFile=%EXCLUDES_FILE% %Debug_Flag% --html &quot;Archer Build Outputs (Release)&quot; --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
py cleanup.py -p %ARCHER_BUILDS_URL% -r UOMD_[1-9][6-9].*.*.[1-2]*00_Debug  --keeplast 4 --action=%CLEANUP_ACTION% --excludesFile=%EXCLUDES_FILE%   %Debug_Flag% --html &quot;Archer Build Outputs (Debug)&quot; --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
ECHO +++++++++++++++++++++ Cleanning Archer Build Outputs - Done +++++++++++++++++++++&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO +++++++++++++++++++++ Cleanning Personal uArcher Build Outputs - Started +++++++++++++++++++++&#xd;
py cleanup.py -p %ARCHER_TASKS_BUILDS_URL% -r *_Release --olderthan 7d  --action=%CLEANUP_ACTION% --excludesFile=%EXCLUDES_FILE%  %Debug_Flag% --html &quot;uArcher Personal Build Outputs (Release)&quot; --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
py cleanup.py -p %ARCHER_TASKS_BUILDS_URL% -r *_Debug --olderthan 7d  --action=%CLEANUP_ACTION% --excludesFile=%EXCLUDES_FILE% %Debug_Flag% --html &quot;uArcher Personal Build Outputs (Debug)&quot; --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
ECHO +++++++++++++++++++++ Cleanning Personal uArcher Build Outputs - Done +++++++++++++++++++++&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO.&#xd;
::ECHO +++++++++++++++++++++ Cleanning CodeViews - Started +++++++++++++++++++++&#xd;
::py cleanup.py -p %CODEVIEW_URL% -r UOMD_BLD_[1-9][6-9].*.*.[1-2]*00_code --keeplast 10  --action=%CLEANUP_ACTION%  --excludesFile=%EXCLUDES_FILE%  ::%Debug_Flag% --html &quot;Code View&quot; --excludesPattern KEEP* &#xd;
::if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
::ECHO +++++++++++++++++++++ Cleanning CodeViews - Done +++++++++++++++++++++&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO +++++++++++++++++++++ Cleanning Archer SCHEDULED Build Outputs and Installers - Started +++++++++++++++++++++&#xd;
py cleanup.py -p %ARCHER_SCHEDULED_BUILDS_URL% -r *_Release  --keeplast 1  --action=%CLEANUP_ACTION%  --excludesFile=%EXCLUDES_FILE%  %Debug_Flag% --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR &#xd;
py cleanup.py -p %ARCHER_SCHEDULED_BUILDS_URL% -r *_Debug  --keeplast 1  --action=%CLEANUP_ACTION%  --excludesFile=%EXCLUDES_FILE%  %Debug_Flag% --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
py cleanup.py -p %ARCHER_SCHEDULED_INSTALLERS_URL% -r Archer_Installation* --keeplast 1  --action=%CLEANUP_ACTION% --excludesFile=%EXCLUDES_FILE%  %Debug_Flag% --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
ECHO +++++++++++++++++++++ Cleanning Archer SCHEDULED Build Outputs - Done +++++++++++++++++++++&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO +++++++++++++++++++++ Cleanning RDM Build Outputs - Started +++++++++++++++++++++ &#xd;
py cleanup.py -p %RDM_BUILDS_URL% -r RDM_[1-9][6-9].*.*.[1-2]*00_Release  --keeplast 4  --action=%CLEANUP_ACTION% --excludesFile=%EXCLUDES_FILE% %Debug_Flag% --html &quot;RDM Build Outputs (Release)&quot; --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
py cleanup.py -p %RDM_BUILDS_URL% -r RDM_[1-9][6-9].*.*.[1-2]*00_Debug  --keeplast 4  --action=%CLEANUP_ACTION% --excludesFile=%EXCLUDES_FILE%  %Debug_Flag% --html &quot;RDM Build Outputs (Debug)&quot;  --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR --html &quot;RDM Build Outputs (Debug)&quot;&#xd;
ECHO +++++++++++++++++++++ Cleanning RDM Build Outputs - Done +++++++++++++++++++++&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO +++++++++++++++++++++ Cleanning RDM SCHEDULED Build Outputs and Installers - Started +++++++++++++++++++++&#xd;
py cleanup.py -p %RDM_SCHEDULED_BUILDS_URL% -r RDM_*_Release  --keeplast 1  --action=%CLEANUP_ACTION%  --excludesFile=%EXCLUDES_FILE%  %Debug_Flag% --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
py cleanup.py -p %RDM_SCHEDULED_BUILDS_URL% -r RDM_*_Debug  --keeplast 1  --action=%CLEANUP_ACTION%  --excludesFile=%EXCLUDES_FILE%  %Debug_Flag% --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
py cleanup.py -p %RDM_SCHEDULED_INSTALLERS_URL% -r RDM_* --keeplast 1  --action=%CLEANUP_ACTION%  --excludesFile=%EXCLUDES_FILE%  %Debug_Flag% --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
py cleanup.py -p %BLOSSOM_SCHEDULED_INSTALLERS_URL% -r TDD_* --keeplast 1  --action=%CLEANUP_ACTION%  --excludesFile=%EXCLUDES_FILE%  %Debug_Flag% --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
ECHO +++++++++++++++++++++ Cleanning RDM SCHEDULED Build Outputs - Done +++++++++++++++++++++&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO +++++++++++++++++++++ Cleanning ARCHER/RDM/BLOSSOM Installers - Started +++++++++++++++++++++&#xd;
py cleanup.py -p %ARCHER_INSTALLERS_URL% -r Archer_Installation_[1-9][6-9].*.*.[1-2]*00 --keeplast 4  --action=%CLEANUP_ACTION% --excludesFile=%EXCLUDES_FILE%  %Debug_Flag% --html &quot;Archer Installers&quot; --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
py cleanup.py -p %RDM_INSTALLERS_URL% -r RDM_[1-9][6-9].*.*.[1-2]*00 --keeplast 4  --action=%CLEANUP_ACTION%  --excludesFile=%EXCLUDES_FILE%  %Debug_Flag% --html &quot;RDM Installers&quot; --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
py cleanup.py -p %BLOSSOM_INSTALLERS_URL% -r TDD_[1-9][6-9].*.*.[1-2]*00 --keeplast 4  --action=%CLEANUP_ACTION%  --excludesFile=%EXCLUDES_FILE%  %Debug_Flag% --html &quot;Blossom Installers&quot; --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
ECHO +++++++++++++++++++++ Cleanning ARCHER/RDM/BLOSSOM Installers - Done +++++++++++++++++++++&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO.&#xd;
ECHO +++++++++++++++++++++ Cleanning Personal RDM Build Outputs - Started +++++++++++++++++++++&#xd;
py cleanup.py -p %RDM_TASKS_BUILDS_URL% -r *_Release --olderthan 7d  --action=%CLEANUP_ACTION% --excludesFile=%EXCLUDES_FILE% %Debug_Flag% --html &quot;RDM Personal Build Outputs (Release)&quot; --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
py cleanup.py -p %RDM_TASKS_BUILDS_URL% -r *_Debug --olderthan 7d  --action=%CLEANUP_ACTION%  --excludesFile=%EXCLUDES_FILE% %Debug_Flag% --html &quot;RDM Personal Build Outputs (Debug)&quot; --excludesPattern KEEP* &#xd;
if %ERRORLEVEL% NEQ 0 GOTO ERROR&#xd;
ECHO +++++++++++++++++++++ Cleanning Personal RDM Build Outputs - Done +++++++++++++++++++++&#xd;
GOTO END&#xd;
&#xd;
:ERROR&#xd;
ECHO =============================================&#xd;
ECHO Cleanup Execution Failed&#xd;
ECHO =============================================&#xd;
Exit /b 1&#xd;
&#xd;
:END&#xd;
ECHO =============================================&#xd;
ECHO Cleanup Execution Completed Successfully &#xd;
ECHO =============================================</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>del C:\Temp\cleanup_html_mail.html&#xd;
type C:\Temp\deletion_list_* &gt;&gt; C:\Temp\cleanup_html_mail.html</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.62">
      <recipientList>${Email_Recipient_List}</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
      </configuredTriggers>
      <contentType>text/html</contentType>
      <defaultSubject>OMD Folder Automatic Cleanup Report [${ENV, var=&quot;MailSubjectPrefix&quot;}] - ${ENV, var=&quot;BUILD_TIMESTAMP&quot;} </defaultSubject>
      <defaultContent>Dear User&lt;BR&gt;&lt;BR&gt;
Following are list of the Builds/Installers/CodeViews ${ENV, var=&quot;MailBodyMessage&quot;} &lt;BR&gt;
Please note that &lt;B&gt;builds are sorted from the newest to the oldest &lt;/B&gt;build (per version)&lt;BR&gt;
${ENV,var=&quot;MailAlertMessage&quot;}
For any issue please contact CM team.
&lt;BR&gt;&lt;BR&gt;
${FILE,path=&quot;C:/Temp/cleanup_html_mail.html&quot;}
&lt;BR&gt;
Regards&lt;BR&gt;
OMD CM Team</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>true</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <from></from>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <EnvInjectBuildWrapper plugin="envinject@1.90">
      <info>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>