<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.23">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.3.1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.3.1">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>Version</string>
        <string>SourceStreamSnapshotName</string>
        <string>SourceStreamName</string>
      </parameters>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>This Job is created to open new Version for development, inlcuindg following steps:&lt;/br&gt;&#xd;
1. create new Dev/Integ stream, eg: Archer_17.14.01_Dev\Archer_17.14.01_Integ&lt;/br&gt;&#xd;
2. create new Dev/Integ build workspace&lt;/br&gt;&#xd;
3. Create Scheduled/Formal build trigger&lt;/br&gt;&#xd;
4. Create new Version file with specfic build start number&lt;/br&gt;&#xd;
5. Copy Help folder from the base veresion&lt;/br&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@2.0.1">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Version</name>
          <description>Which Version you want to Create? eg:17.14 or 17.14.01</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SourceStreamName</name>
          <description>What is your Source stream name? eg: Archer_17.14.01_Integ</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SourceStreamSnapshotName</name>
          <description>What is your Source stream name snapshot name? eg: UOMD_BLD_17.14.01.20100</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.54">
    <script>pipeline {
     agent {label &apos;master&apos;}
     environment { 
        repositoryAddress = &apos;http://clm.kla-tencor.com/ccm&apos;
        networkpath=&apos;\\\\klasj\\ktfiles\\Regions\\Israel\\SWGRP\\SW-OMD&apos;
    }
    parameters {
        string(name: &apos;Version&apos;, description: &apos;Which Version you want to Create? eg:17.14 or 17.14.01&apos;)
		string(name: &apos;SourceStreamName&apos;, defaultValue: &apos;&apos;, description: &apos;What is your Source stream name?&apos;)
		string(name: &apos;SourceStreamSnapshotName&apos;, defaultValue: &apos;&apos;, description: &apos;What is your Source stream name snapshot name?&apos;)
    }
    
	stages {    
	    stage (&apos;Validation&apos;) {
            steps (&apos;vaiidate&apos;) {
	                script{
	                if(params.Version==&quot;&quot;){
    				    exitwitherror(&quot;Version is not defined&quot;)
	                }  
					MajorMinorSP=params.Version
					if(params.Version.length()&lt;6) MajorMinorSP=params.Version+&quot;.00&quot;
					
					def userInput=input(
					id: &apos;userInput&apos;, message: &apos;Please verify the below parameters:&apos;, parameters: [
					string(defaultValue: &quot;Archer_${params.Version}_Dev&quot;,description: &apos;Dev stream name&apos;,name: &apos;DevStream&apos;),
					string(defaultValue: &quot;Archer_${params.Version}_Integ&quot;,description: &apos;Integ stream name&apos;,name: &apos;IntegStream&apos;),
					string(defaultValue: &quot;omdbuild_Archer_${params.Version}_Dev_Workspace&quot;,description: &apos;Dev workspace name&apos;,name: &apos;DevWorkspace&apos;),
					string(defaultValue: &quot;omdbuild_Archer_${params.Version}_Integ_Workspace&quot;,description: &apos;Integ workspace name&apos;,name: &apos;IntegWorkspace&apos;),
					string(defaultValue: &quot;OMD-Archer-V${params.Version}-Scheduled-Jenkins&quot;,description: &apos;Scheduled build definition name&apos;,name: &apos;ScheduledBD&apos;),
					string(defaultValue: &quot;OMD-Archer-V${params.Version}-Formal-Jenkins&quot;,description: &apos;Formal build definition name&apos;,name: &apos;FormalBD&apos;),
					string(defaultValue: &quot;OMD_{params.Version}_Scheduled_Trigger&quot;,description: &apos;Scheduled build job trigger&apos;,name: &apos;ScheduledTrigger&apos;),
					string(defaultValue: &quot;OMD_{params.Version}_Formal_Trigger&quot;,description: &apos;Formal build job trigger&apos;,name: &apos;FormalTrigger&apos;),
					string(defaultValue: &quot;${params.Version}version.txt&quot;,description: &apos;Version file name&apos;,name: &apos;Versionfile&apos;),
					string(defaultValue: &quot;${MajorMinorSP}.20000&quot;,description: &apos;The starting build numbering&apos;,name: &apos;StartingVersion&apos;),
					],submitter: &apos;DL-OMD-ENG-SCM&apos;,ok:&apos;Corret, lets create it&apos;)
					
					
					env.InputDevStream = userInput.DevStream
					env.InputIntegStream = userInput.IntegStream
					env.InputDevWorkspace = userInput.DevWorkspace
					env.InputIntegWorkspace = userInput.IntegWorkspace
					env.InputScheduledBD = userInput.ScheduledBD
					env.InputFormalBD = userInput.FormalBD
					env.InputScheduledTrigger = userInput.ScheduledTrigger
					env.InputFormalTrigger = userInput.FormalTrigger
					env.InputVersionfile = userInput.Versionfile
					env.InputStartingVersion = userInput.StartingVersion
	            }
            }
	    }
		stage (&apos;CreateStream&apos;){
			steps (&apos;CreateStream&apos;){
				build job: &apos;CreateStreamCM&apos;, parameters: 
				[
				[$class: &apos;TextParameterValue&apos;, name: &apos;streamTitle&apos;, value:env.InputDevStream],
				[$class: &apos;StringParameterValue&apos;, name: &apos;SourceStreamName&apos;, value: params.SourceStreamName],
				[$class: &apos;TextParameterValue&apos;, name: &apos;SourceStreamSnapshotName&apos;, value: params.SourceStreamSnapshotName]
				], wait: true
				build job: &apos;CreateStreamCM&apos;, parameters: 
				[
				[$class: &apos;TextParameterValue&apos;, name: &apos;streamTitle&apos;, value:env.InputIntegStream],
				[$class: &apos;StringParameterValue&apos;, name: &apos;SourceStreamName&apos;, value: params.SourceStreamName],
				[$class: &apos;TextParameterValue&apos;, name: &apos;SourceStreamSnapshotName&apos;, value: params.SourceStreamSnapshotName]
				], wait: true
			}

		}
		stage (&apos;CreateWorkspace&apos;){
			steps (&apos;CreateWorkspace&apos;) {
	                script{
						bat &quot;scm create workspace -r ${env.repositoryAddress} -u ${env.builduser} -P ${env.scmbuildpass} -s ${env.InputDevStream} ${env.InputDevWorkspace}&quot;
						bat &quot;scm create workspace -r ${env.repositoryAddress} -u ${env.builduser} -P ${env.scmbuildpass} -s ${env.InputIntegStream}  ${env.InputIntegWorkspace}&quot;
					}
			}
		}
		stage (&apos;CreateBuildDefinition&apos;){
			steps (&apos;CreateBD&apos;){
				build job: &apos;CreateBuildDefinition&apos;, parameters: 
				[
				[$class: &apos;StringParameterValue&apos;, name: &apos;RTCWorkspace&apos;, value:env.InputDevWorkspace],
				[$class: &apos;StringParameterValue&apos;, name: &apos;BuildDefinationName&apos;, value: env.InputScheduledBD],
				[$class: &apos;StringParameterValue&apos;, name: &apos;BUILDTYPE&apos;, value: &quot;Scheduled&quot;]
				], wait: true
				build job: &apos;CreateBuildDefinition&apos;, parameters: 
				[
				[$class: &apos;StringParameterValue&apos;, name: &apos;RTCWorkspace&apos;, value:env.InputIntegWorkspace],
				[$class: &apos;StringParameterValue&apos;, name: &apos;BuildDefinationName&apos;, value: env.InputFormalBD],
				[$class: &apos;StringParameterValue&apos;, name: &apos;BUILDTYPE&apos;, value: &quot;Formal&quot;]
				], wait: true
			}
		}
		stage (&apos;CreateJenkinstrigger&apos;){
			steps (&apos;CreateTriggerJob&apos;){
				build job: &apos;CreateScheduledTrigger&apos;, parameters: 
				[
				[$class: &apos;StringParameterValue&apos;, name: &apos;Version&apos;, value:params.Version]
				], wait: true
				build job: &apos;CreateFormalTrigger&apos;, parameters: 
				[
				[$class: &apos;StringParameterValue&apos;, name: &apos;Version&apos;, value:params.Version],
				], wait: true
			}
		}
		stage (&apos;CreateVersionFile&apos;){
			steps{
				script{
					File VersionFile = new File(env.InputVersionfile)
					if(VersionFile.exists()) VersionFile.delete()
					VersionFile.write &quot;CurrentVersion=&quot;+env.InputStartingVersion+&quot;\nCurrentRunnningVersion=&quot;+env.InputStartingVersion
				}
			}
		}
		stage (&apos;CreateHelpFolder&apos;){
			steps{
				script{
				    echo &quot;$params.SourceStreamName&quot;
					basever=&quot;$params.SourceStreamName&quot;.substring(7,12)
					echo basever
					if(params.Version.length()&gt;6) MajorMinor=params.Version.substring(0,5) else MajorMinor=params.Version
					bat &quot;xcopy ${networkpath}\\Archer_Installations\\NuArcher_V${basever}\\HelpFiles\\*.* ${networkpath}\\Archer_Installations\\NuArcher_V${MajorMinor}\\HelpFiles\\ /f /s&quot;
				}
			}
		}
	}
}

def exitwitherror(msg){
    input(message:msg ,ok:&apos;Abort&apos;)
    throw new Exception(msg)
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>