<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.23">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.3.1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.3.1">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>Version</string>
      </parameters>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Version</name>
          <description>Which Version you want to Create KIT?</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@2.0.1">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.54">
    <script>import groovy.io.FileType

pipeline {
    agent any
    environment { 
        networkpath=&apos;\\\\klasj\\ktfiles\\Regions\\Israel\\SWGRP\\SW-OMD&apos;
        codeviewpath=&apos;\\\\isr1appcc02\\Views\\OMD&apos;
        phoenixpath=&apos;\\\\klasj\\ktfiles\\Regions\\Israel\\SWGRP\\SW-Common\\Phoenix&apos;
    }
    parameters {
        string(name: &apos;Version&apos;, description: &apos;Which Version you want to Create KIT?&apos;)
    }
	stages {
	    
	    stage (&apos;validation&apos;) {
            steps (&apos;vaiidate&apos;) {
	                script{
	                if(params.Version==&quot;&quot;){
    				    exitwitherror(&quot;Version is not defined&quot;)
	                }
	                shortversion=params.Version.substring(6,8)==&apos;00&apos;?Version.substring(0,6):params.Version.substring(0,8)
	                zipversion=shortversion.replaceAll(&quot;\\.&quot;,&quot;_&quot;)
					majorminor=params.Version.substring(0,5)
					def installerdir = &quot;${networkpath}\\Archer_Installations\\NuArcher_V&quot;+majorminor+&quot;\\Formal\\Archer_Installation_&quot;+params.Version
					def installationfile=new File(installerdir)
					if(!installationfile.exists())exitwitherror(&quot;Archer installation folder doesn&apos;t exist&quot;)
	            }
            }
	    }
	    /*stage (&apos;ZipInstallation&apos;)
	    {
	        steps (&apos;ZipInstaller&apos;) {
	               script{
	                   installerdir = &quot;${networkpath}\\Archer_Installations\\NuArcher_V&quot;+majorminor+&quot;\\Formal\\Archer_Installation_&quot;+params.Version
				
	                    def tempdirpath=&quot;C:\\temp\\installer_&quot;+params.Version
						def tempdir=new File(tempdirpath)
						if(tempdir.exists()) tempdir.deleteDir()
						tempdir.mkdir()
						bat &quot;xcopy ${installerdir}\\*.* ${tempdirpath}\\Archer_Installation_${params.Version}\\ /f /s&quot;
						
						def zipname=&quot;Archer_&quot;+params.Version+&quot;_Installer.exe&quot;
						def exename=&quot;Archer_&quot;+zipversion+&quot;_Installer.exe&quot;
						bat &quot;7z a &quot;+tempdirpath+&quot;\\&quot;+zipname+&quot; ${tempdirpath}\\Archer_Installation_&quot;+params.Version+&quot;\\*&quot;
					
						def src7z = new File(&quot;${networkpath}\\Archer_Installations\\SCM\\General\\self-extractingWith-7zip\\7zS.sfx&quot;)
						def dst7z = new File(tempdirpath+&quot;\\7zS.sfx&quot;)
						dst7z &lt;&lt; src7z.bytes
						
						File configfile = new File(tempdirpath+&quot;\\config.txt&quot;)
						configfile.write &quot;;!@Install@!UTF-8!\n;Title=\&quot;Archer SOFTWARE v&quot;+params.Version+&quot;\&quot;\n;BeginPrompt=\&quot;Do you want to install Archer SOFTWARE v&quot;+params.Version+&quot;?\&quot;\nRunProgram=\&quot;setup.exe\\n;!@InstallEnd@!\n&quot;
					
						bat &quot;copy /b &quot;+tempdirpath+&quot;\\7zS.sfx + &quot;+tempdirpath+&quot;\\config.txt + &quot;+tempdirpath+&quot;\\&quot;+zipname+&quot; &quot;+tempdirpath+&quot;\\&quot;+exename
						
						bat &quot;xcopy &quot;+tempdirpath+&quot;\\&quot;+exename+&quot; ${networkpath}\\Archer_Installations\\NuArcher_V&quot;+majorminor+&quot;\\Formal\\ArcherSWInsKIT_&quot;+params.Version+&quot;\\ /f&quot;
						
						if(tempdir.exists()) tempdir.deleteDir()
	               }
	       
	            }
	        
	    }
	    */
		stage (&apos;Ziptoolconfig&apos;){
			steps (&apos;ziptoolconfig&apos;){
				script{
					tempdirpath=&quot;C:\\temp\\installer_&quot;+params.Version
					tempdir=new File(tempdirpath)
					TCdir = &quot;${networkpath}\\Archer_Installations\\NuArcher_V&quot;+majorminor+&quot;\\Formal\\Archer_Installation_&quot;+params.Version+&quot;\\supportfiles\\ToolConfig&quot;
					
					bat &quot;7z a &quot;+tempdirpath+&quot;\\Tool_Configuration.7z&quot;+&quot; &quot;+TCdir+&quot;\\MCDBXML.exe &quot;+TCdir+&quot;\\NG.McdbXml.dll &quot;+TCdir+&quot;\\ToolConfig.exe &quot;+TCdir+&quot;\\ToolConfig.exe.config&quot;
					bat &quot;xcopy &quot;+tempdirpath+&quot;\\Tool_Configuration.7z&quot; + &quot; ${networkpath}\\Archer_Installations\\NuArcher_V&quot;+majorminor+&quot;\\Formal\\ArcherSWInsKIT_&quot;+params.Version+&quot;\\ToolCOnfiguration\\ /f&quot;
					
					if(tempdir.exists()) tempdir.deleteDir()
					
				}
			}
		}
		stage (&apos;document&apos;){
			steps (&apos;CopyDoc&apos;){
				script{
					bat &quot;xcopy &quot;+&quot;${networkpath}\\Archer_Installations\\SupportFiles\\DocumentForKit\\*.*&quot; + &quot; ${networkpath}\\Archer_Installations\\NuArcher_V&quot;+majorminor+&quot;\\Formal\\ArcherSWInsKIT_&quot;+params.Version+&quot;\\Documentation\\ /f&quot;
					
				}
			}
		}
		stage (&apos;Phoenix&apos;){
			steps (&apos;CopyPhoenix&apos;){
				script{
					def buildnotice= &quot;${codeviewpath}\\OMD-UN_&quot;+majorminor+&quot;\\UOMD_BLD_&quot;+params.Version+&quot;_code&quot;+ &quot;/OMD_Builds/JenkinsBuild/Instructions/InstallationInstruction.html&quot;;
	                def buildnoticefile = new File(buildnotice)
					def phoenixversion
					if(buildnoticefile.exists()){
                		echo &quot;found the buildnotice file&quot;				
                		builtnoticecontent=buildnoticefile.readLines()
                		for(String line : builtnoticecontent){
                			if(line.contains(&quot;&gt;Phoenix&lt;&quot;)){
                			 string subline=line.substring(line.indexOf(&quot;&lt;TD&gt;&quot;)+4,line.length()-5)
                			 phoenixversion=subline
                			continue
                			}
                		  }
                	}
                	else{
                	    exitwitherror(&quot;Build notice file under code view folder doesn&apos;t exist&quot;)
                	}
					phoenixversion=phoenixversion.trim()
					String[] str;
					str = phoenixversion.split(&apos;\\+&apos;);
					for( String values : str ){
						echo values.trim()
					}
	
				}
			}
		}
	}
}

def exitwitherror(msg){
    input(message:msg ,ok:&apos;Abort&apos;)
    throw new Exception(msg)
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>