<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Comments</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@2.0.1">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>FlowController</name>
          <description></description>
          <allowedSlaves>
            <string>master</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>master</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>SimulatorEngine</name>
          <description></description>
          <allowedSlaves>
            <string>ALL (no restriction)</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>SCM-SIM7050-02</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CheckSimTimeout</name>
          <description>(min)</description>
          <defaultValue>180</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_VERSION</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>10</maxConcurrentPerNode>
      <maxConcurrentTotal>10</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>true</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>true</limitOneJobWithMatchingParams>
      <paramsToUseForLimit>SimulatorEngine</paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>@ECHO OFF&#xd;
setlocal EnableDelayedExpansion&#xd;
set pinglooptimeout=0&#xd;
:pingloopstart&#xd;
if %pinglooptimeout%==%CheckSimTimeout% (&#xd;
echo ******* Simulator %SimulatorEngine% can&apos;t be connected ************&#xd;
goto error&#xd;
)&#xd;
echo ******* Ping %SimulatorEngine% for %pinglooptimeout% time&#xd;
ping %SimulatorEngine%&#xd;
if not %errorlevel%==0 (&#xd;
set /a pinglooptimeout=%pinglooptimeout%+1&#xd;
ping 1.0.0.1 -n 1 -w 60000 &gt; nul&#xd;
goto pingloopstart&#xd;
)&#xd;
set num=0&#xd;
:checklock&#xd;
if %num%==%CheckSimTimeout% (&#xd;
echo ************* %SimulatorEngine% is been locked for %CheckSimTimeout% mins, build will fail ***************&#xd;
goto error&#xd;
)&#xd;
if not exist \\isr1appcc02\SCM\OMD\Jenkins_SimulatorLock\%SimulatorEngine%_*_Lock.txt goto startlock&#xd;
echo ************* The simulator is locked %time% for %num% mins***************&#xd;
ping 1.0.0.1 -n 60 -w 60000 &gt; nul&#xd;
set /a num=%num%+1&#xd;
goto checklock&#xd;
:startlock&#xd;
echo *************Lock simualtor for Current build****************&#xd;
if not exist \\isr1appcc02\SCM\OMD\Jenkins_SimulatorLock MD \\isr1appcc02\SCM\OMD\Jenkins_SimulatorLock&#xd;
echo Running image recover for %BUILD_VERSION% &gt; \\isr1appcc02\SCM\OMD\Jenkins_SimulatorLock\%SimulatorEngine%_%BUILD_VERSION%_Lock.txt&#xd;
echo *************Create lock for %SimulatorEngine% %BUILD_VERSION% successfully****************&#xd;
goto end&#xd;
&#xd;
:error&#xd;
exit /b 1&#xd;
&#xd;
:end&#xd;
exit /b 0</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>