<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.23">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.3.1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.3.1">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>MajorVersion</string>
        <string>BUILD_VERSION</string>
      </parameters>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>MajorVersion</name>
          <description>Which version to run Support build for? 
 example: 17.14_Support_Intel</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>17.14_Support_Intel</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_VERSION</name>
          <description>Please enter version to run the build with</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.security.AuthorizationMatrixProperty>
      <inheritanceStrategy class="org.jenkinsci.plugins.matrixauth.inheritance.InheritParentStrategy"/>
      <permission>hudson.model.Item.Build:DL-Israel-OMD-Eng-SW</permission>
      <permission>hudson.model.Item.Cancel:DL-Israel-OMD-Eng-SW</permission>
      <permission>hudson.model.Item.Discover:DL-Israel-OMD-Eng-SW</permission>
      <permission>hudson.model.Item.ExtendedRead:DL-Israel-OMD-Eng-SW</permission>
      <permission>hudson.model.Item.Read:DL-Israel-OMD-Eng-SW</permission>
      <permission>hudson.model.Run.Replay:DL-Israel-OMD-Eng-SW</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@2.0.1">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.54">
    <script>pipeline {
agent { node { label &apos;master&apos; } }
parameters {
        choice(choices: &apos;17.14_Support_Intel&apos;, description: &apos;Which version to run Support build for? \n example: 17.14_Support_Intel&apos;, name: &apos;MajorVersion&apos;)
        string(description: &apos;Please enter version to run the build with&apos;, name: &apos;BUILD_VERSION&apos;)
    }

    stages {
        stage (&quot;RunBuild&quot;){
            
            steps{
                script{
                    wrap([$class: &apos;BuildUser&apos;]) {
            				        currentBuild.description = &quot;Bulding OMD_${params.MajorVersion}_Formal_Trigger by &apos;${env.BUILD_USER}&apos;&quot;
                                }
                     build job:&quot;OMD_${params.MajorVersion}_Formal_Trigger&quot;,parameters: [
                     [$class: &apos;NodeParameterValue&apos;, name: &apos;FlowController&apos;, labels: [&quot;master&quot;], nodeEligibility: [$class: &apos;AllNodeEligibility&apos;]],
                                                                                            string(name: &apos;BUILD_VERSION&apos;, value:params.BUILD_VERSION)]
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>