<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <inheritanceStrategy class="org.jenkinsci.plugins.matrixauth.inheritance.InheritParentStrategy"/>
      <permission>hudson.model.Item.Build:akiselma</permission>
      <permission>hudson.model.Item.Cancel:akiselma</permission>
      <permission>hudson.model.Item.ExtendedRead:akiselma</permission>
      <permission>hudson.model.Item.Read:akiselma</permission>
      <permission>hudson.model.Item.Workspace:akiselma</permission>
      <permission>hudson.model.Run.Update:akiselma</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.plugins.jobicon.CustomIconProperty plugin="custom-job-icon@0.2">
      <iconfile>5d7d5975606624f52977a1d1d77e045b61323dae.png</iconfile>
    </jenkins.plugins.jobicon.CustomIconProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@2.0.1">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MajorMinor_Ver</name>
          <description></description>
          <defaultValue>17.14</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>emailGroups</name>
          <description></description>
          <defaultValue>DL-OMD-SW-SQC@kla-tencor.com,DL-OMD-SW-SCOL@KLA-Tencor.com,DL-OMD-SW-Imaging@KLA-Tencor.com,DL-OMD-ENG-SCM@KLA-Tencor.com,DL-OMD-SW-ARCH@KLA-Tencor.com</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_VERSION</name>
          <description></description>
          <defaultValue>\\isr1appcc02\scm\OMD\Jenkins_Build_Version\17.14version.txt</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>ReleaseBuildEngine</name>
          <description></description>
          <allowedSlaves>
            <string>ALL (no restriction)</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>SCM-Builds-V03</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>DebugBuildEngine</name>
          <description></description>
          <allowedSlaves>
            <string>ALL (no restriction)</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>SCM-Builds-V04</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>StartFromSolution</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string></string>
              <string>BuildMatlabDiagnostics</string>
              <string>BuildCommonTypes</string>
              <string>BuildProxy</string>
              <string>BuildCommon</string>
              <string>BuildInfrastructure</string>
              <string>BuildNGPlatformContracts</string>
              <string>BuildCodeGeneration</string>
              <string>BuildNGPlatformUtilities</string>
              <string>BuildNGPlatformComponents</string>
              <string>BuildNGPlatformRecipe</string>
              <string>BuildNGPlatformScripting</string>
              <string>BuildUIServers</string>
              <string>BuildKernel</string>
              <string>BuildENV10</string>
              <string>BuildToolSystemInfoPackage</string>
              <string>CommonUtilities</string>
              <string>BuildRTInfrastructure</string>
              <string>BuildRTPlatform</string>
              <string>BuildNGiMetrologyContracts</string>
              <string>BuildLinnikCommonTypes</string>
              <string>BuildNGLinnikContracts</string>
              <string>BuildNGLinnikHelpers</string>
              <string>BuildLinnikCommon</string>
              <string>BuildNGLinnikMCommon</string>
              <string>BuildNGLinnikUtilities</string>
              <string>BuildNGLinnikComponents</string>
              <string>BuildNGLinnikScripting</string>
              <string>BuildNGLinnikRecipe</string>
              <string>BuildMBSCommonTypes</string>
              <string>BuildNGMBSContracts</string>
              <string>BuildNGMBSHelpers</string>
              <string>BuildMBSCommon</string>
              <string>BuildNGMBSMCommon</string>
              <string>BuildNGMBSUtilities</string>
              <string>BuildNGMBSComponents</string>
              <string>BuildNGMBSScripting</string>
              <string>BuildNGMBSRecipe</string>
              <string>BuildCommonOVL_Common</string>
              <string>BuildNGCommonOVLContracts</string>
              <string>BuildNGCommonOVLComponents</string>
              <string>BuildNGCommonOVLRecipe</string>
              <string>BuildOVLCommon</string>
              <string>BuildNexGOCommon</string>
              <string>BuildXYSAIMCommon</string>
              <string>BuildMOLCommon</string>
              <string>BuildBLOCommon</string>
              <string>BuildBFCDCommon</string>
              <string>BuildArcherCommon</string>
              <string>BuildJIGCommon</string>
              <string>BuildJ1Common</string>
              <string>BuildJ2Common</string>
              <string>BuildAIMidMLCommon</string>
              <string>BuildAROLCommon</string>
              <string>BuildLinnikUIServers</string>
              <string>BuildOVLUIServers</string>
              <string>BuildMOLUIServers</string>
              <string>BuildBLOUIServers</string>
              <string>BuildMBSUIServers</string>
              <string>BuildNGAROLContracts</string>
              <string>BuildNGAROLUtilities</string>
              <string>BuildNGAROLComponents</string>
              <string>BuildNGAROLScripting</string>
              <string>BuildNGAROLRecipe</string>
              <string>BuildAROLUIServers</string>
              <string>BuildAIMidMLUIServers</string>
              <string>BuildArcherKernel</string>
              <string>BuildLinnikKernel</string>
              <string>BuildiMetrologyCommon</string>
              <string>BuildNGiMetrologyComponents</string>
              <string>BuildiMetrologyKernel</string>
              <string>BuildIMAdapter</string>
              <string>BuildMBSKernel</string>
              <string>BuildCommonOVLKernel</string>
              <string>BuildOVLKernel</string>
              <string>BuildAROLKernel</string>
              <string>BuildLinnikApps</string>
              <string>BuildMBSApps</string>
              <string>BuildCommonOVLApps</string>
              <string>BuildAROLApps</string>
              <string>BuildArcherApps</string>
              <string>BuildOVLApps</string>
              <string>BuildNGOVLContracts</string>
              <string>BuildNGOVLRecipe</string>
              <string>BuildNGOVLComponents</string>
              <string>BuildNGOVLScripting</string>
              <string>BuildNexGOUIServers</string>
              <string>BuildXYSAIMUIServers</string>
              <string>BuildBFCDUIServers</string>
              <string>BuildNexGOKernel</string>
              <string>BuildXYSAIMKernel</string>
              <string>BuildMOLKernel</string>
              <string>BuildBLOKernel</string>
              <string>BuildBFCDKernel</string>
              <string>BuildNexGOENV10</string>
              <string>BuildNGNexGOContracts</string>
              <string>BuildNGNexGOComponents</string>
              <string>BuildNGAIMScripting</string>
              <string>BuildXYSAIMApps</string>
              <string>BuildNGXYSAIMContracts</string>
              <string>BuildNGXYSAIMComponents</string>
              <string>BuildNGXYSAIMScripting</string>
              <string>BuildMOLApps</string>
              <string>BuildBLOApps</string>
              <string>BuildNGMOLContracts</string>
              <string>BuildNGMOLComponents</string>
              <string>BuildNGMOLScripting</string>
              <string>BuildNGBLOContracts</string>
              <string>BuildNGBLOComponents</string>
              <string>BuildNGBLOScripting</string>
              <string>BuildAIMidMLKernel</string>
              <string>BuildAIMidMLApps</string>
              <string>BuildNGMOLMLContracts</string>
              <string>BuildNGMOLMLComponents</string>
              <string>BuildNGAIMidMLScripting</string>
              <string>BuildBFCDApps</string>
              <string>BuildJ1Kernel</string>
              <string>BuildJ2Kernel</string>
              <string>BuildJ1Apps</string>
              <string>BuildJ2Apps</string>
              <string>BuildJIGApps</string>
              <string>BuildiMetrologyApps</string>
              <string>BuildRTLinnik</string>
              <string>BuildRTMBS</string>
              <string>CopyBuild</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>SkipSandboxLoad</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>buildResultUUID</name>
          <description>The UUID of the build result in RTC. It is supplied by builds initiated through RTC. For builds initiated through Hudson/Jenkins, no value should be supplied.</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>StaticCodeAnalysisModeDebug</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>ErrorOnBuildEnd</string>
              <string>Disabled</string>
              <string>Warning</string>
              <string>Error</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>StaticCodeAnalysisModeRelease</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>ErrorOnBuildEnd</string>
              <string>Disabled</string>
              <string>Warning</string>
              <string>Error</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Auto_Deploy_Sanity</name>
          <description></description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>TestsArray</name>
          <description>What tests needs to run and in which confgurations? &lt;BR&gt;
Test details are shared in arrays, seperated by comma. Test arrays are seperated by semicomma and can be entered in diffrent lines&lt;BR&gt;
&lt;BR&gt;
&lt;BR&gt;
Details:&lt;BR&gt;
SuiteName:File name of the test suite (excluding suffix)&lt;BR&gt;
SuitePath:suite file location&lt;BR&gt;
ToolType: As TL/A700/A600&lt;BR&gt;
ATEControllerMachineLabel:Jenkins label name for ATE controllers machines to let the mechanism select one&lt;BR&gt;
SimulatorEngineMachineLabel: Jenkins label name for simulator machines to let the mechanism select one&lt;BR&gt;
BaseImagePath:Template image file location&lt;BR&gt;
BaseImageName:Acronis template image to recover simulator machine from prior installation&lt;BR&gt;
ATEScriptsPath:ATE execution scripts folder&lt;BR&gt;
&lt;BR&gt;
&lt;BR&gt;
Example:&lt;BR&gt;
[&lt;BR&gt;
[Autorun_XYS_Suite_ATE_A700,X:\ATE\TestCases\SQC\Imaging\XYS\Autorun,Archer700,SCM-ATE-01,SimulatorEngine,D:\BaseImage,17.11.00.21200_A700_Nunit_Image,\\isr1vmappcm01\Automated_Testing\17.10_ATE];
[AROL_Autorun_ATE_Suite,X:\ATE\TestCases\SQC\MBS\AROL,Archer TL,SCM-ATE-01,SimulatorEngine,D:\BaseImage,17.03.00.30400_TL_Mil_Nunit_Image,\\isr1vmappcm01\Automated_Testing\17.0x_ATE];
[Autorun_XYS_Suite_ATE_A600,X:\ATE\TestCases\SQC\Imaging,Archer600,SCM-ATE-01,SimulatorEngine,D:\BaseImage,17.02.01.30100_A600_Nunit_Mil_Image,\\isr1vmappcm01\Automated_Testing\17.0x_ATE]
]&lt;BR&gt;</description>
          <defaultValue>[
[Autorun_XYS_Suite_ATE_A700,X:\ATE\TestCases\SQC\Imaging\XYS\Autorun,Archer700,SCM-ATE-01,SimulatorEngine,D:\BaseImage,17.11.00.21200_A700_Nunit_Image,\\isr1vmappcm01\Automated_Testing\17.10_ATE];
[AROL_Autorun_ATE_Suite,X:\ATE\TestCases\SQC\MBS\AROL,Archer TL,SCM-ATE-01,SimulatorEngine,D:\BaseImage,17.03.00.30400_TL_Mil_Nunit_Image,\\isr1vmappcm01\Automated_Testing\17.0x_ATE];
[Autorun_XYS_Suite_ATE_A600,X:\ATE\TestCases\SQC\Imaging,Archer600,SCM-ATE-01,SimulatorEngine,D:\BaseImage,17.02.01.30100_A600_Mil_Nunit_Image,\\isr1vmappcm01\Automated_Testing\17.0x_ATE]
]</defaultValue>
          <trim>false</trim>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
      <configVersion>1</configVersion>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <EnvInjectJobProperty plugin="envinject@1.90">
      <info>
        <propertiesContent>BUILDTYPE=Scheduled
WSName=omdbuild_Archer_17.14_Dev_Workspace
SnapshotName=INIT_UOMD_BLD_${BUILD_VERSION}</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>true</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="com.ibm.team.build.internal.hjplugin.RTCScm" plugin="teamconcert@1.2.0.4">
    <overrideGlobal>false</overrideGlobal>
    <timeout>0</timeout>
    <buildType>
      <value>buildDefinition</value>
      <buildDefinition>OMD-Archer-V17.14-Scheduled-Jenkins</buildDefinition>
      <clearLoadDirectory>false</clearLoadDirectory>
      <createFoldersForComponents>false</createFoldersForComponents>
      <acceptBeforeLoad>true</acceptBeforeLoad>
      <generateChangelogWithGoodBuild>false</generateChangelogWithGoodBuild>
      <overrideDefaultSnapshotName>true</overrideDefaultSnapshotName>
      <customizedSnapshotName>${SnapshotName}</customizedSnapshotName>
      <useDynamicLoadRules>false</useDynamicLoadRules>
    </buildType>
    <buildTypeStr>buildDefinition</buildTypeStr>
    <buildDefinition>OMD-Archer-V17.14-Scheduled-Jenkins</buildDefinition>
    <clearLoadDirectory>false</clearLoadDirectory>
    <createFoldersForComponents>false</createFoldersForComponents>
    <acceptBeforeLoad>true</acceptBeforeLoad>
    <generateChangelogWithGoodBuild>false</generateChangelogWithGoodBuild>
    <avoidUsingToolkit>false</avoidUsingToolkit>
    <overrideDefaultSnapshotName>true</overrideDefaultSnapshotName>
    <customizedSnapshotName>${SnapshotName}</customizedSnapshotName>
    <useDynamicLoadRules>false</useDynamicLoadRules>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>00 01 * * 0-5</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>C:\Progra~2\Jenkins\tools\hudson.tasks.Ant_AntInstallation\RenameBuildLabel\bin\ant.bat -file %team_scm_fetchDestination%\OMD_Builds\JenkinsBuild\VersionUpdater\Build.xml -DbuildResultUUID=%buildResultUUID% -Dlabel=&quot;%BUILDTYPE%_UOMD_BLD_%BUILD_VERSION%&quot; &quot;-Dpassword=Scm07&amp;&quot; -DuserId=omdbuild -DtoolkitPath=C:\Build\TeamConcertBuild\buildsystem\buildtoolkit -DsnapshotUUID=%team_scm_workspaceUUID% &quot;-DrepositoryAddress=%repositoryAddress%&quot; -lib C:\Build\TeamConcertBuild\buildsystem\buildtoolkit</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>buildRequesterUserId=omdbuild
BUILD_VERSION=${BUILD_VERSION}
ReleaseBuildEngine=${ReleaseBuildEngine}
DebugBuildEngine=${DebugBuildEngine}
MajorMinor_Ver=${MajorMinor_Ver}
WSName=${WSName}
team_scm_fetchDestination=D:\\Sandboxes\\omdbuild_${BUILD_VERSION}
buildRequesterUserId=${buildRequesterUserId}
ClosureBuildEngine=master
BUILDTYPE=${BUILDTYPE}
VERSIONFILE=${VERSIONFILE}
AUTOVERSION=${AUTOVERSION}
RunningMode=DAILY
BuildAutoApproved=true
SnapshotName=${SnapshotName}
buildResultUUID=${buildResultUUID}
team_scm_workspaceUUID=${team_scm_workspaceUUID}
CheckSimTimeout=180
RunNunitTests=true</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>RDM_NuArcher_CI_Flow</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.21">
      <recipients>DL-OMD-ENG-SCM@kla-tencor.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.34">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.10"/>
    <EnvInjectBuildWrapper plugin="envinject@1.90">
      <info>
        <groovyScriptContent>def action = currentBuild.getAction(com.ibm.team.build.internal.hjplugin.RTCBuildResultAction.class)
def buildProps = action.getBuildProperties()
def bldResultUUID=buildProps[&apos;RTCBuildResultUUID&apos;]
def teamscmfetchDestination=buildProps[&apos;team_scm_fetchDestination&apos;]
def teamscmworkspaceUUID=buildProps[&apos;team_scm_workspaceUUID&apos;]
print (&quot;buildResultUUID=&quot;+ bldResultUUID)
def map = [buildResultUUID: bldResultUUID,team_scm_workspaceUUID:teamscmworkspaceUUID,team_scm_fetchDestination:teamscmfetchDestination] 

return map </groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
    <org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper plugin="preSCMbuildstep@0.3">
      <buildSteps>
        <EnvInjectBuilder plugin="envinject@1.90">
          <info>
            <propertiesContent>VERSIONFILE=${BUILD_VERSION}
AUTOVERSION=false</propertiesContent>
          </info>
        </EnvInjectBuilder>
        <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.6">
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
          <runCondition class="org.jenkins_ci.plugins.run_condition.core.FileExistsCondition" plugin="run-condition@1.0">
            <file>${BUILD_VERSION}</file>
            <baseDir class="org.jenkins_ci.plugins.run_condition.common.BaseDirectory$Workspace"/>
          </runCondition>
          <conditionalbuilders>
            <hudson.tasks.BatchFile>
              <command>:: run command for incrementing the version&#xd;
set VERSIONCONFIG=\\isr1appcc02\SCM\OMD\Jenkins_Build_Version\VersionConfig.properties&#xd;
set team_scm_fetchDestination=\\isr1appcc02\SCM\OMD\Jenkins_Build_Version&#xd;
set BUILDVERSION=%BUILD_VERSION%&#xd;
CALL \\isr1appcc02\SCM\OMD\Jenkins_Build_Version\OMD_Builds\JenkinsBuild\VersionAutoIncremental\AutoVersion.bat&#xd;
IF %ERRORLEVEL% NEQ 0 (&#xd;
       ECHO &quot;Unable to calculate BUILDVERSION&quot;&#xd;
	Exit /b 1&#xd;
)</command>
              <unstableReturn>1</unstableReturn>
            </hudson.tasks.BatchFile>
            <EnvInjectBuilder plugin="envinject@1.90">
              <info>
                <propertiesFilePath>${BUILD_VERSION}</propertiesFilePath>
                <propertiesContent>VERSIONFILE=${BUILD_VERSION}
AUTOVERSION=true
BUILD_VERSION=${CurrentRunnningVersion}
SnapshotName=INIT_UOMD_BLD_${CurrentRunnningVersion}</propertiesContent>
              </info>
            </EnvInjectBuilder>
          </conditionalbuilders>
        </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
        <hudson.tasks.BatchFile>
          <command>C:\PROGRA~1\Unlocker\Unlocker.exe %WORKSPACE% /S</command>
        </hudson.tasks.BatchFile>
      </buildSteps>
      <failOnError>false</failOnError>
    </org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper>
  </buildWrappers>
</project>