<?xml version="1.0" encoding="UTF-8"?><project>
    <actions/>
    <description/>
    <keepDependencies>false</keepDependencies>
    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
                    <name>FlowController</name>
                    <description/>
                    <allowedSlaves>
                        <string>master</string>
                    </allowedSlaves>
                    <defaultSlaves>
                        <string>master</string>
                    </defaultSlaves>
                    <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
                    <allowMultiNodeSelection>false</allowMultiNodeSelection>
                    <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
                    <ignoreOfflineNodes>false</ignoreOfflineNodes>
                    <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
                </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>MajorMinor_Ver</name>
                    <defaultValue>17.99</defaultValue>
                    <description>The majorMinor Version of the build</description>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>emailGroups</name>
                    <defaultValue>DL-OMD-SW-SQC@kla-tencor.com,DL-OMD-SW-SCOL@KLA-Tencor.com,DL-OMD-SW-Imaging@KLA-Tencor.com,DL-OMD-ENG-SCM@KLA-Tencor.com,DL-OMD-SW-ARCH@KLA-Tencor.com</defaultValue>
                    <description>Recipients of the Scheduled build and failed formal build</description>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>ReleaseEmailGroups</name>
                    <defaultValue>DL-OMD-SWFormalRelease@kla-tencor.com</defaultValue>
                    <description>Recipients of the Formal build</description>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>JENKINCONFIGPATH</name>
                    <defaultValue>\\isr1appcc02\SCM\OMD</defaultValue>
                    <description/>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>BUILD_VERSION</name>
                    <defaultValue>\\isr1appcc02\scm\OMD\Jenkins_Build_Version\17.99.99version.txt</defaultValue>
                    <description/>
                </hudson.model.StringParameterDefinition>
                <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
                    <name>ReleaseBuildEngine</name>
                    <description>select the release build machine</description>
                    <allowedSlaves>
                        <string>SCM-Builds-V01</string>
                        <string>SCM-Builds-V02</string>
                        <string>SCM-Builds-V03</string>
                        <string>SCM-Builds-V04</string>
                    </allowedSlaves>
                    <defaultSlaves>
                        <string>SCM-Builds-V03</string>
                    </defaultSlaves>
                    <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
                    <allowMultiNodeSelection>false</allowMultiNodeSelection>
                    <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
                    <ignoreOfflineNodes>false</ignoreOfflineNodes>
                    <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
                </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
                <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
                    <name>DebugBuildEngine</name>
                    <description>select the debug build machine</description>
                    <allowedSlaves>
                        <string>SCM-Builds-V01</string>
                        <string>SCM-Builds-V02</string>
                        <string>SCM-Builds-V03</string>
                        <string>SCM-Builds-V04</string>
                    </allowedSlaves>
                    <defaultSlaves>
                        <string>SCM-Builds-V04</string>
                    </defaultSlaves>
                    <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
                    <allowMultiNodeSelection>false</allowMultiNodeSelection>
                    <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
                    <ignoreOfflineNodes>false</ignoreOfflineNodes>
                    <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
                </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
                <hudson.model.BooleanParameterDefinition>
                    <name>SkipSandboxLoad</name>
                    <defaultValue>false</defaultValue>
                    <description/>
                </hudson.model.BooleanParameterDefinition>
                <hudson.model.BooleanParameterDefinition>
                    <name>RunAutoMerge</name>
                    <defaultValue>true</defaultValue>
                    <description/>
                </hudson.model.BooleanParameterDefinition>
                <hudson.model.BooleanParameterDefinition>
                    <name>GenerateAndShareBuildNotes</name>
                    <defaultValue>true</defaultValue>
                    <description/>
                </hudson.model.BooleanParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>buildResultUUID</name>
                    <defaultValue/>
                    <description>The UUID of the build result in RTC. It is supplied by builds initiated through RTC. For builds initiated through Hudson/Jenkins, no value should be supplied.</description>
                </hudson.model.StringParameterDefinition>
                <hudson.model.BooleanParameterDefinition>
                    <name>Auto_Deploy_Sanity</name>
                    <defaultValue>false</defaultValue>
                    <description>will the auto deploy and sanity run for this build?</description>
                </hudson.model.BooleanParameterDefinition>
                <hudson.model.TextParameterDefinition>
                    <name>TestsArray</name>
                    <defaultValue>[[Autorun_XYS_Suite_ATE_A700,X:\ATE\TestCases\SQC\Imaging\XYS\Autorun,Archer700,SCM-ATE-01,SimulatorEngine,D:\BaseImage,17.11.00.21200_A700_Nunit_Image,\\isr1vmappcm01\Automated_Testing\17.10_ATE];
[AROL_Autorun_ATE_Suite,X:\ATE\TestCases\SQC\MBS\AROL,Archer TL,SCM-ATE-01,SimulatorEngine,D:\BaseImage,17.03.00.30400_TL_Mil_Nunit_Image,\\isr1vmappcm01\Automated_Testing\17.0x_ATE];
[Autorun_XYS_Suite_ATE_A600,X:\ATE\TestCases\SQC\Imaging,Archer600,SCM-ATE-01,SimulatorEngine,D:\BaseImage,17.02.01.30100_A600_Mil_Nunit_Image,\\isr1vmappcm01\Automated_Testing\17.0x_ATE]]</defaultValue>
                    <description>What tests needs to run and in which confgurations?</description>
                </hudson.model.TextParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
        <EnvInjectJobProperty>
            <info>
                <propertiesContent>BUILDTYPE=Formal
WSName=omdbuild_Archer_17.99.99_Integ_Workspace
SnapshotName=INIT_UOMD_BLD_${BUILD_VERSION}
ValidOptions=Formal,Scheduled,Tasks</propertiesContent>
                <loadFilesFromMaster>false</loadFilesFromMaster>
            </info>
            <on>true</on>
            <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
            <keepBuildVariables>true</keepBuildVariables>
            <overrideBuildParameters>true</overrideBuildParameters>
            <contributors/>
        </EnvInjectJobProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.BatchFile>
            <command>C:\Progra~2\Jenkins\tools\hudson.tasks.Ant_AntInstallation\RenameBuildLabel\bin\ant.bat -file %team_scm_fetchDestination%\OMD_Builds\JenkinsBuild\VersionUpdater\Build.xml -DbuildResultUUID=%buildResultUUID% -Dlabel="%BUILDTYPE%_UOMD_BLD_%BUILD_VERSION%" "-Dpassword=Scm07&amp;" -DuserId=omdbuild -DtoolkitPath=C:\Build\TeamConcertBuild\buildsystem\buildtoolkit -DsnapshotUUID=%team_scm_workspaceUUID% "-DrepositoryAddress=%repositoryAddress%" -lib C:\Build\TeamConcertBuild\buildsystem\buildtoolkit</command>
        </hudson.tasks.BatchFile>
        <hudson.plugins.parameterizedtrigger.TriggerBuilder>
            <configs>
                <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
                    <projects>RDM_NuArcher_CI_Flow</projects>
                    <condition>ALWAYS</condition>
                    <triggerWithNoParameters>false</triggerWithNoParameters>
                    <configs>
                        <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
                        <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                            <properties>buildRequesterUserId=omdbuild
BUILD_VERSION=${BUILD_VERSION}
ReleaseBuildEngine=${ReleaseBuildEngine}
DebugBuildEngine=${DebugBuildEngine}
MajorMinor_Ver=${MajorMinor_Ver}
WSName=${WSName}
team_scm_fetchDestination=D,\\Sandboxes\\omdbuild_${BUILD_VERSION}
buildRequesterUserId=${buildRequesterUserId}
ClosureBuildEngine=master
BUILDTYPE=${BUILDTYPE}
VERSIONFILE=${VERSIONFILE}
AUTOVERSION=${AUTOVERSION}
RunningMode=WEEKLY
BuildAutoApproved=true
SnapshotName=${SnapshotName}
buildResultUUID=${buildResultUUID}
team_scm_workspaceUUID=${team_scm_workspaceUUID}
RunAutoRebase=${RunAutoMerge}
ScheduledBuildJenkinsJobName=OMD_17.99.99_Scheduled_Trigger
Integ_Stream_Name=Archer_17.99.99_Integ
Dev_Stream_Name=Archer_17.99.99_Dev</properties>
                        </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                    </configs>
                    <block>
                        <buildStepFailureThreshold>
                            <name>FAILURE</name>
                            <ordinal>2</ordinal>
                            <color>RED</color>
                            <completeBuild>true</completeBuild>
                        </buildStepFailureThreshold>
                        <unstableThreshold>
                            <name>UNSTABLE</name>
                            <ordinal>1</ordinal>
                            <color>YELLOW</color>
                            <completeBuild>true</completeBuild>
                        </unstableThreshold>
                        <failureThreshold>
                            <name>FAILURE</name>
                            <ordinal>2</ordinal>
                            <color>RED</color>
                            <completeBuild>true</completeBuild>
                        </failureThreshold>
                    </block>
                </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
            </configs>
        </hudson.plugins.parameterizedtrigger.TriggerBuilder>
    </builders>
    <publishers>
        <hudson.tasks.Mailer>
            <recipients>DL-OMD-ENG-SCM@kla-tencor.com</recipients>
            <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
            <sendToIndividuals>false</sendToIndividuals>
        </hudson.tasks.Mailer>
    </publishers>
    <buildWrappers>
        <hudson.plugins.timestamper.TimestamperBuildWrapper/>
        <hudson.plugins.ws__cleanup.PreBuildCleanup>
            <patterns/>
            <deleteDirs>false</deleteDirs>
            <cleanupParameter/>
            <externalDelete/>
        </hudson.plugins.ws__cleanup.PreBuildCleanup>
        <EnvInjectBuildWrapper>
            <info>
                <groovyScriptContent>def action = currentBuild.getAction(com.ibm.team.build.internal.hjplugin.RTCBuildResultAction.class)
def buildProps = action.getBuildProperties()
def bldResultUUID=buildProps['RTCBuildResultUUID']
def teamscmfetchDestination=buildProps['team_scm_fetchDestination']
def teamscmworkspaceUUID=buildProps['team_scm_workspaceUUID']
print ("buildResultUUID="+ bldResultUUID)
def map = [buildResultUUID: bldResultUUID,team_scm_workspaceUUID:teamscmworkspaceUUID,team_scm_fetchDestination:teamscmfetchDestination] 
return map 
        </groovyScriptContent>
                <loadFilesFromMaster>false</loadFilesFromMaster>
            </info>
        </EnvInjectBuildWrapper>
        <org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper>
            <buildSteps>
                <EnvInjectBuilder>
                    <info>
                        <propertiesContent>VERSIONFILE=${BUILD_VERSION}
AUTOVERSION=false
team_scm_fetchDestination=${team_scm_fetchDestination}</propertiesContent>
                    </info>
                </EnvInjectBuilder>
                <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
                    <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail"/>
                    <conditionalbuilders>
                        <hudson.tasks.BatchFile>
                            <command>:: run command for incrementing the version
set VERSIONCONFIG=\\isr1appcc02\SCM\OMD\Jenkins_Build_Version\VersionConfig.properties
set team_scm_fetchDestination=\\isr1appcc02\SCM\OMD\Jenkins_Build_Version
set BUILDVERSION=%BUILD_VERSION%
CALL \\isr1appcc02\SCM\OMD\Jenkins_Build_Version\OMD_Builds\JenkinsBuild\VersionAutoIncremental\AutoVersion.bat
IF %ERRORLEVEL% NEQ 0 (
	ECHO "Unable to calculate BUILDVERSION"
    Exit /b 1
	)</command>
                        </hudson.tasks.BatchFile>
                        <EnvInjectBuilder>
                            <info>
                                <propertiesFilePath>${BUILD_VERSION}</propertiesFilePath>
                                <propertiesContent>VERSIONFILE=${BUILD_VERSION}
AUTOVERSION=true
BUILD_VERSION=${CurrentRunnningVersion}
SnapshotName=INIT_UOMD_BLD_${CurrentRunnningVersion}</propertiesContent>
                            </info>
                        </EnvInjectBuilder>
                    </conditionalbuilders>
                    <runCondition class="org.jenkins_ci.plugins.run_condition.core.FileExistsCondition">
                        <file>${BUILD_VERSION}</file>
                        <baseDir class="org.jenkins_ci.plugins.run_condition.common.BaseDirectory$Workspace"/>
                    </runCondition>
                </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
                <hudson.tasks.BatchFile>
                    <command>C:\PROGRA~1\Unlocker\Unlocker.exe %WORKSPACE% /S</command>
                </hudson.tasks.BatchFile>
                <hudson.plugins.groovy.SystemGroovy>
                    <bindings/>
                    <source class="hudson.plugins.groovy.StringSystemScriptSource">
                        <script>
                            <script>
import hudson.model.*
import hudson.AbortException
build.getLog(100).each{
   if (it.contains("Build version calculation failed")){
	   build.result = Result.UNSTABLE
	   throw new AbortException("Build failed in new version calculation.")
   }
}
				</script>
                            <sandbox>false</sandbox>
                            <classpath/>
                        </script>
                    </source>
                </hudson.plugins.groovy.SystemGroovy>
                <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
                    <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail"/>
                    <conditionalbuilders>
                        <hudson.plugins.parameterizedtrigger.TriggerBuilder>
                            <configs>
                                <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
                                    <projects>AutoRebaseStream</projects>
                                    <condition>ALWAYS</condition>
                                    <triggerWithNoParameters>false</triggerWithNoParameters>
                                    <configs>
                                        <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                                            <properties>MajorMinor_Ver=${MajorMinor_Ver}
fromStream=Archer_17.99.99_Dev
toStream=Archer_17.99.99_Integ</properties>
                                        </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                                    </configs>
                                    <block>
                                        <buildStepFailureThreshold>
                                            <name>FAILURE</name>
                                            <ordinal>2</ordinal>
                                            <color>RED</color>
                                            <completeBuild>true</completeBuild>
                                        </buildStepFailureThreshold>
                                        <unstableThreshold>
                                            <name>UNSTABLE</name>
                                            <ordinal>1</ordinal>
                                            <color>YELLOW</color>
                                            <completeBuild>true</completeBuild>
                                        </unstableThreshold>
                                        <failureThreshold>
                                            <name>FAILURE</name>
                                            <ordinal>2</ordinal>
                                            <color>RED</color>
                                            <completeBuild>true</completeBuild>
                                        </failureThreshold>
                                    </block>
                                </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
                            </configs>
                        </hudson.plugins.parameterizedtrigger.TriggerBuilder>
                    </conditionalbuilders>
                    <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition">
                        <arg1>${RunAutoMerge}</arg1>
                        <arg2>true</arg2>
                        <ignoreCase>true</ignoreCase>
                    </runCondition>
                </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
                <hudson.plugins.parameterizedtrigger.TriggerBuilder>
                    <configs>
                        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
                            <projects>EnableDisableJenkinsJob</projects>
                            <condition>ALWAYS</condition>
                            <triggerWithNoParameters>false</triggerWithNoParameters>
                            <configs>
                                <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                                    <properties>Action=Disable
JenkinsJobName=OMD_17.99.99_Scheduled_Trigger</properties>
                                </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                            </configs>
                            <block>
                                <buildStepFailureThreshold>
                                    <name>FAILURE</name>
                                    <ordinal>2</ordinal>
                                    <color>RED</color>
                                    <completeBuild>true</completeBuild>
                                </buildStepFailureThreshold>
                                <unstableThreshold>
                                    <name>UNSTABLE</name>
                                    <ordinal>1</ordinal>
                                    <color>YELLOW</color>
                                    <completeBuild>true</completeBuild>
                                </unstableThreshold>
                                <failureThreshold>
                                    <name>FAILURE</name>
                                    <ordinal>2</ordinal>
                                    <color>RED</color>
                                    <completeBuild>true</completeBuild>
                                </failureThreshold>
                            </block>
                        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
                    </configs>
                </hudson.plugins.parameterizedtrigger.TriggerBuilder>
                <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
                    <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail"/>
                    <conditionalbuilders>
                        <hudson.plugins.parameterizedtrigger.TriggerBuilder>
                            <configs>
                                <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
                                    <projects>CreateBuildNotes</projects>
                                    <condition>ALWAYS</condition>
                                    <triggerWithNoParameters>false</triggerWithNoParameters>
                                    <configs>
                                        <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                                            <properties>MajorMinor_Ver=${MajorMinor_Ver}
sStream=
tStream=Archer_17.99.99_Integ
BUILD_VERSION=${BUILD_VERSION}
recipientList=DL-OMD-ENG-SCM@KLA-Tencor.com
CopyToShare=true</properties>
                                        </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                                    </configs>
                                    <block>
                                        <buildStepFailureThreshold>
                                            <name>FAILURE</name>
                                            <ordinal>2</ordinal>
                                            <color>RED</color>
                                            <completeBuild>true</completeBuild>
                                        </buildStepFailureThreshold>
                                        <unstableThreshold>
                                            <name>UNSTABLE</name>
                                            <ordinal>1</ordinal>
                                            <color>YELLOW</color>
                                            <completeBuild>true</completeBuild>
                                        </unstableThreshold>
                                        <failureThreshold>
                                            <name>FAILURE</name>
                                            <ordinal>2</ordinal>
                                            <color>RED</color>
                                            <completeBuild>true</completeBuild>
                                        </failureThreshold>
                                    </block>
                                </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
                            </configs>
                        </hudson.plugins.parameterizedtrigger.TriggerBuilder>
                    </conditionalbuilders>
                    <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition">
                        <arg1>${GenerateAndShareBuildNotes}</arg1>
                        <arg2>true</arg2>
                        <ignoreCase>true</ignoreCase>
                    </runCondition>
                </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
                <hudson.plugins.parameterizedtrigger.TriggerBuilder>
                    <configs>
                        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
                            <projects>UpdateAndPromoteBuildWIs</projects>
                            <condition>ALWAYS</condition>
                            <triggerWithNoParameters>false</triggerWithNoParameters>
                            <configs>
                                <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                                    <properties>BUILD_VERSION=${BUILD_VERSION}
MajorMinor_Ver=${MajorMinor_Ver}</properties>
                                </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                            </configs>
                            <block>
                                <buildStepFailureThreshold>
                                    <name>FAILURE</name>
                                    <ordinal>2</ordinal>
                                    <color>RED</color>
                                    <completeBuild>true</completeBuild>
                                </buildStepFailureThreshold>
                                <unstableThreshold>
                                    <name>UNSTABLE</name>
                                    <ordinal>1</ordinal>
                                    <color>YELLOW</color>
                                    <completeBuild>true</completeBuild>
                                </unstableThreshold>
                                <failureThreshold>
                                    <name>FAILURE</name>
                                    <ordinal>2</ordinal>
                                    <color>RED</color>
                                    <completeBuild>true</completeBuild>
                                </failureThreshold>
                            </block>
                        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
                    </configs>
                </hudson.plugins.parameterizedtrigger.TriggerBuilder>
            </buildSteps>
            <failOnError>true</failOnError>
        </org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper>
    </buildWrappers>
    <logRotator>
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
    </logRotator>
    <scm class="com.ibm.team.build.internal.hjplugin.RTCScm">
        <overrideGlobal>false</overrideGlobal>
        <timeout>0</timeout>
        <buildType>buildDefinition</buildType>
        <buildDefinition>OMD-Archer-V17.99.99-Formal-Jenkins</buildDefinition>
        <avoidUsingToolkit>false</avoidUsingToolkit>
        <overrideDefaultSnapshotName>true</overrideDefaultSnapshotName>
        <customizedSnapshotName>${SnapshotName}</customizedSnapshotName>
    </scm>
</project>