<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This project enable users to rebase stream from another in automatic way. &lt;/br&gt;&#xd;
Please note that script will fail in case of merge conflicats.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MajorMinor_Ver</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>fromStream</name>
          <description></description>
          <defaultValue>Archer_${MajorMinor_Ver}_Integ</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>toStream</name>
          <description></description>
          <defaultValue>Archer_${MajorMinor_Ver}_Adham</defaultValue>
        </hudson.model.StringParameterDefinition>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.4.1">
          <name>MergeOwner</name>
          <description>user name for merge owner to get merge status mail</description>
          <editable>false</editable>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.SystemGroovyChoiceListProvider">
            <groovyScript plugin="script-security@1.39">
              <script>import hudson.model.User
String user =User.current().getId()
return [user]</script>
              <sandbox>true</sandbox>
            </groovyScript>
            <usePredefinedVariables>false</usePredefinedVariables>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <EnvInjectJobProperty plugin="envinject@1.90">
      <info>
        <propertiesContent>#RTC command exit code and its relevant message
0=The command completed successfully.
1=There was a syntax error on the command line.
2=The client could not connect to the named repository URI with the credentials supplied by the user.
3=A failure occurred for an unknown reason
4=An internal error indicating that a subcommand could not be loaded.
5=The sandbox is misconfigured (its root could not be found, or is not shared).
6=A resource name collision was detected in the sandbox. An unshared resource in the sandbox has the same name as a shared resource in the repository workspace. This prevented the shared resource from being loaded.
7=A failure occurred due to an unknown internal error
8=The requested operation could not be completed because the sandbox is out of sync with the repository workspace. The user should reload or re-share the sandbox.
9=The requested operation could not be completed because a selector (name, alias, or UUID) supplied by the user either does not match enough items, or matches too many.
10=not used
11=There is a resource conflict in one or more repository workspaces accessed by the subcommand. The user must resolve those conflicts before continuing.
12=An unknown subcommand name was used.
13=reserved (OSGi exception)
14=A request to move a resource failed because the target exists and is unshared, or the target path is invalid.
15=Remote data changed during command execution. Re-run the command.
16=The requested operation could not be completed because it would introduce a gap into the change set history.
17=The requested operation was blocked by Team Process.
18=The requested operation failed because the user lacked one or more repository permissions. The message returned provides more information about the failure.
19=The requested operation could not complete because preconditions were not met.
20=The requested operation attempted to transfer a file that has improper line terminators or encoding.
21=The requested operation could not complete because it would create an n-way conflict in the change set history.
22=The requested operation could not complete because it would create one or more items that have no parent.
23=reserved (OSGi exception)
24=reserved (OSGi exception)
25=One or more specified repository items were not found.
26=Server error.
27=The sandbox is in use by another RCP process (an eclipse GUI or another Rational Team Concert source control command line client).
28=The requested operation could not complete because the repository workspace is misconfigured: the client could not find an item in the repository workspace. The user should verify that any repository workspace paths are correct.
29=The requested operation could not complete because of a license limitation.
30=The requested operation could not complete because but the item&apos;s state is inappropriate.
31=The file system daemon didn&apos;t receive an initial connection within the alloted amount of time.
32=The communication with the repository timed out.
33=Some of the properties could not be fetched for the specified files.
34=The requested operation cannot continue because there are files that are not checked in.
35=The property could not be set for the specified file.
36=The repository information was incorrectly specified with respect to an item.
37=The change set could not be completed.
38=The suspend operation cannot be performed on the suspended change set.
39=Encountered an IOException.
40=The requested operation could not be completed because the change set is not in history.
41=Service failure encountered when communicating with the repository.
42=Indicates that the mime type could not be set for the specified file.
43=Indicates that the daemon closed the stderror before printing the connection coordinates.
44=Indicates that the specified load rules cannot be processed because it has inaccessible items or has invalid load rules.
45=Indicates that delivering changes would create conflicts in the stream.
46=Indicates that the requested state of the versionable is deleted.
47=Indicates that we could not determine the repository URI for the given repository id.
48=Indicates that a server state mismatch has been detected. This can happen when we try to connect to the server from a daemon which has been active through the server rename process.
49=Indicating the user to rerun the command.
50=Indicates that one or more items are locked in the stream.
51=Indicates that a failure occurred due to an unexpected condition.
52=Indicates that an accept succeeded, but there were no incoming changes, so the workspace remains unchanged.
53=Indicates that a deliver succeeded, but there were no changes to deliver to the repository.
54=Indicates that one or more of the workspaces that are loaded in the sandbox are unreachable; therefore, the output from the status command does not include the status of all the workspaces in the sandbox.
101=Indicates that the zimport subcommand cannot find a component to own the project that is being created, with the mapping file as specified. Check the mapping file for errors.
102=Indicates that the zimport subcommand cannot find a project for the member to import with the mapping file as specified. Check the mapping file for errors.
103=Indicates that a data set could not be browsed for a member to import with the zimport subcommand.</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>true</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>SETLOCAL ENABLEDELAYEDEXPANSION&#xd;
lscm deliver -r http://clm.kla-tencor.com/ccm -u omdbuild -P &quot;Scm07&amp;&quot; -N -v -s Archer_17.12_Dev -t Archer_17.12_TestAutoMerge --release-locks true&#xd;
If NOT %ERRORLEVEL% == 0 (&#xd;
  echo &quot;Rebase of %toStream% from %fromStream% failed with the following error:&quot;&#xd;
  echo !%ERRORLEVEL%! &#xd;
  exit /b 1&#xd;
)</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.61">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>text/html</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>${SCRIPT, template=&quot;static-analysis1.jelly&quot;}

</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.9"/>
  </buildWrappers>
</project>